<%= javascript_include_tag "wow.min.js" %>
<nav class="navbar navbar-default navbar-static-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><%= image_tag("logo.jpg", width: "78", height: "114")%></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
         <div class="text-right">
         	<div class="top-navigation">
            	<ul>
                	<li><a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i> info@domainname.com</a></li>
                    <li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i> 020 123456789</a></li>
                    <li><%= link_to "मराठी", home_path %> | <%= link_to "English", root_url %></li>
                </ul>
            </div>
         </div>
            <ul class="nav navbar-nav navbar-right">
                <li><%= link_to "Home", root_url %></li>
                <li><%= link_to "About", about_path %></li>
                <li><%= link_to "Wildlife Sanctuaries", range_forest_path %></li>
                <li><a href="#" id="visible"> Trekking</a></li>
                <li><%= link_to "RTS", "http://117.239.200.166/forestportal/index.php?option=rtsapp&AntiFixation=2a2554618b2c791c182ab58f330b7d5a.",  target: :_blank %></li>
                <li><a href="#" id="visible"> Booking</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Eco-Tourism <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><%= link_to "Naudurmadmeshwar", nandur_madhameshwar_path %></li>
                        <li><a href="#">Kalsubai</a></li>
                        <li><%= link_to "Yawal", yawal_path %></li>
                        <li><%= link_to "Aner Dam", anerdam_path %></li>
                    </ul>
                </li>
                <li><%= link_to "Photogallery", photogallery_path %></li>
                <li><%= link_to "Contact", contact_path %></li>
            </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
  <!-- END div#row-fluid -->
