
    <!-- Title Image-->
<section>
	<div class="container-fluid about-us-title">
    	<div class="container">
        	<h1 class="page-title">About Us</h1>
        </div>
    </div>
</section>
    <!-- Title Image end-->

    <!-- About and Important links-->
    <section class="testimonials">
        <div class="container">
            <div class="row">
                <div class="col-md-8 about-text">
                    <h3>Welcome to Conservator of Forest's (Wildlife) Nashik</h3>
                    <p>Globally as well as nationally, Forest Conservation is increasingly being viewed as a powerful instrument in sequestering carbon and thereby offset adverse climate change. </p><p>

                        Maharashtra Forest Department, being custodian of the State's rich and diverse bio-diversity, is committed to a conservation-centric management and protection strategy. 
                    </p><p>
                        Wild-life focused eco-tourism management hinges on sustainability. Production-be it timber or non-timber forest produce is managed with sustainability at its core. Joint Forestry Management to secure natural resources as well as livelihood security remains the major people-centric activity. </p><p>

                        Attempts are on to hone local artisans' skill in making value-added articles out of non-timber forest produce like bamboo and cane. </p><p>

                        Augmenting green cover on non-forest areas to achieve national targets of 33% of land area under green cover remains a forefront agenda. Intensive use of Information and Communication Technology supplemented by e-governance is under effective use to monitor ongoing forestry activities. </p><p>

                        Extensive use of digital platform to project a true picture of forest conservation forms the central theme.</p>

                    <h3 class="text-center">ORGANIZATION CHART</h3> 

                    <div class="row">
                        <div class="col-md-12 organization-chart">
                            <%= image_tag "default-user.png", width: "", height: "" %>
                            <p><strong>Conservator of Forest (Wildlife) Nashik</strong> <br /> <small>(0253-2505114/15)</small></p>
                        </div>
                        <div class="col-md-4 organization-chart">
                            <%= image_tag "default-user.png", width: "", height: "" %>
                            <p>Assistant Conservator of Forest  (Wild life)<br /> <strong>Nandur Madhmeshwer Sanctuary</strong>  <br /> <small>(0253-2505114)</small></p>
                        </div>
                        <div class="col-md-4 organization-chart">
                            <%= image_tag "default-user.png", width: "", height: "" %>
                            <p>Assistant Conservator of Forest  (Wild life) <br /> <strong>Kalsubai harichandra Gad Sanctuary</strong>  <br /> <small>(0253-2505114)</small></p>
                        </div>
                        <div class="col-md-4 organization-chart">
                            <%= image_tag "default-user.png", width: "", height: "" %>
                            <p>Assistant Conservator of Forest  (Wild life) <br /><strong> Yawal Sanctuary</strong>  <br /> <small>(02585-260610)</small></p>
                        </div>
                        <div class="row"></div>
                        <div class="col-md-12 organization-chart">
                            <%= image_tag "default-user.png", width: "", height: "" %>
                            <p>Assistant Conservator of Forest  (Wild life) <br /> <strong>Aner dam Sanctuary</strong>  <br /> <small>( 02563 / 259053)</small></p>
                        </div>
                        <div class="row"></div>
                        <h3 class="text-center">Range Forest Officer (Wildlife) </h3>

                        <div class="col-md-4 organization-chart">
                            <%= image_tag "default-user.png", width: "", height: "" %>
                            <p>Range Forest Officer (Wildlife) <br /> <strong>Nandur Madhmeshwer</strong>   <br /> <small>(0253-2505116)</small></p>
                        </div>
                        <div class="col-md-4 organization-chart">
                            <%= image_tag "default-user.png", width: "", height: "" %>
                            <p>Range Forest Officer (Wildlife) <br /> <strong>Rajur</strong>   <br /> <small>(02424 / 202260)</small></p>
                        </div>
                        <div class="col-md-4 organization-chart">
                            <%= image_tag "default-user.png", width: "", height: "" %>
                            <p>Range Forest Officer (Wildlife) <br /> <strong>Bhandardara</strong>   <br /> <small>(02424 / 257013)</small></p>
                        </div>

                        <div class="col-md-4 organization-chart">
                            <%= image_tag "default-user.png", width: "", height: "" %>
                            <p>9.	Range Forest Officer (Wildlife) <strong>Jamnya</strong>   <br /> </p>
                        </div>
                        <div class="col-md-4 organization-chart">
                            <%= image_tag "default-user.png", width: "", height: "" %>
                            <p>10.	Range Forest Officer (Wildlife) <br /> <strong>Pal</strong>   <br /> <small>(02584 / 288242)</small></p>
                        </div>
                        <div class="col-md-4 organization-chart">
                            <%= image_tag "default-user.png", width: "", height: "" %>
                            <p>11.	Range Forest Officer (Wildlife) <br /> <strong>Aner dan Shirpur</strong> <br /> <small>(02563 / 259053)</small></p>
                        </div>

                    </div> 
                </div>
                <div class="col-md-4 margin-topBot10">
                    <div class="important-link col-md-12">
                        <h2>Important links</h2>
                        <ul>
                            <li><a href="#">4 Crore Plantation Information</a></li>
                            <li><a href="#">Online booking for Forest Rest Houses / Lodging / Safari</a></li>
                            <li><a href="#">Bio-Diversity</a></li>
                            <li><a href="#">Forest Development Corporation Of Maharashtra</a></li>
                            <li><a href="#">Internet</a></li>
                            <li><a href="#">RTS Services</a></li>
                            <li><a href="#">DIPP Services</a></li>
                            <li><a href="#">Green Army</a></li>
                            <li><a href="#">Government of Maharashtra</a></li>
                            <li><a href="#">Maharashtra Agriculture Deptt</a></li>
                            <li><a href="#">Mahanews</a></li>
                        </ul>
                    </div>
                    <div class="important-link col-md-12 margin-topBot10">
                        <h2>Upcoming Events</h2>

                        <%= image_tag("events.png", width: "353")%>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About and Important links End-->

<script>
        wow = new WOW(
        {
        animateClass: 'animated',
        offset:       100,
        callback:     function(box) {
        console.log("WOW: animating <" + box.tagName.toLowerCase() + ">")
        }
        }
        );
        wow.init();
    </script>