<%= javascript_include_tag "bootstrap.min.js" %>

<body>
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <%= image_tag("slide01.png", style: 'width:100%') %>
                <div class="carousel-caption wow bounceInDown" data-wow-duration="0.5s">
                    <h1>Best Trekking Places</h1>
                    <p>Around the Nashik</p>
                    <a href="#" class="btn">Book your Trekking</a>
                </div>
            </div>
            <div class="item">
                <%= image_tag("slide02.png", style: 'width:100%') %>
                <div class="carousel-caption">
                    <h1>Second tagline gose here</h1>
                    <p>Around the Nashik</p>
                </div>
            </div>
            
            <div class="item">
                <%= image_tag("slide03.png", style: 'width:100%') %>
                <div class="carousel-caption">
                    <h1>Second tagline gose here</h1>
                    <p>Around the Nashik</p>
                </div>
            </div>
            
            <div class="item">
                <%= image_tag("slide04.png", style: 'width:100%') %>
                <div class="carousel-caption">
                    <h1>Second tagline gose here</h1>
                    <p>Around the Nashik</p>
                </div>
            </div>

        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <!-- About Us-->
    <section class="about-us">
        <div class="container">
            <div class="row">
                <h1  data-wow-iteration="5" data-wow-duration="0.15s" class="head wow pulse">About <span>Us</span></h1>
                <p>Globally as well as nationally, Forest Conservation is increasingly being viewed as a powerful instrument in sequestering carbon and thereby offset adverse climate change. Maharashtra Forest Department, being custodian of the State's rich and diverse bio-diversity, is committed to a conservation-centric management and protection strategy. Wild-life focused eco-tourism management hinges on sustainability. </p>
                <p><a href="#">Know More</a></p>
            </div>
        </div>
    </section>
    <!-- About Us End-->
    <!-- Range Forest start-->   
    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <h1 class="head"><span>Sanctuaries </span></h1>
            <div class="row">
                <div class="col-md-4 wow bounceInLeft">
                    <h3>Nandur Madhameshwar WLS</h3>
                    <div class="box">
                        <div class="img-holder"><%= image_tag("img01.jpg", width: "353", height: "166")%> 
                            <div class="image-text">Nandur Madhameshwar</div>
                        </div>
                        <ul>
                            <li><a href="#">Nandur Madhmeshwar Dam</a></li>
                            <li><a href="#">Migratory Birds</a></li>
                            <li><a href="#">Mrugvyadheshwar temple</a></li>
                            <li><a href="#">Beautyfull Sunset and Sunrise Sceneries</a></li>
                        </ul>
                        <p class="text-center"><%= link_to "View details »", nandur_madhameshwar_path, class: "btn btn-green" %></p>
                      </div>
                  </div>
                  <div class="col-md-4 wow flipInX center">
                       <h3>Kalsubai Harishhcandragad WLS</h3>
                      <div class="box">
                          <div class="img-holder"><%= image_tag("img02.jpg", width: "353", height: "166")%> 
                              <div class="image-text">Rajur</div>
                          </div>
                          <ul>
                              <li><a href="#">Nandur Madhmeshwar Dam</a></li>
                              <li><a href="#">Migratory Birds</a></li>
                              <li><a href="#">Mrugvyadheshwar temple</a></li>
                              <li><a href="#">Beautyfull Sunset and Sunrise Sceneries</a></li>
                          </ul>
                          <p class="text-center"><a class="btn btn-green" href="#" role="button">View details »</a></p>
                      </div>
                  </div>
                  <div class="col-md-4 wow bounceInRight">
                      <h3>Bhandardara WLS</h3>
                      <div class="box">
                          <div class="img-holder"><%= image_tag("img03.jpg", width: "353", height: "166")%> 
                              <div class="image-text">Bhandardara</div>
                          </div>
                          <ul>
                              <li><a href="#">Nandur Madhmeshwar Dam</a></li>
                              <li><a href="#">Migratory Birds</a></li>
                              <li><a href="#">Mrugvyadheshwar temple</a></li>
                              <li><a href="#">Beautyfull Sunset and Sunrise Sceneries</a></li>
                          </ul>
                          <p class="text-center"><a class="btn btn-green" href="#" role="button">View details »</a></p>
                      </div>
                  </div>

                  <div class="col-md-4 wow bounceInLeft">
                      <h3>Yawal WLS</h3>
                      <div class="box">
                          <div class="img-holder"><%= image_tag("img04.jpg", width: "353", height: "166")%> 
                              <div class="image-text">Jamnya</div>
                          </div>
                          <ul>
                              <li><a href="#">Nandur Madhmeshwar Dam</a></li>
                              <li><a href="#">Migratory Birds</a></li>
                              <li><a href="#">Mrugvyadheshwar temple</a></li>
                              <li><a href="#">Beautyfull Sunset and Sunrise Sceneries</a></li>
                          </ul>
                          <p class="text-center"><%= link_to "View details »", yawal_path, class: "btn btn-green" %></p>
                        </div>
                    </div>

                    <div class="col-md-4 wow flipInX center">
                        <h3>Pal WLS</h3>
                        <div class="box">
                            <div class="img-holder"><%= image_tag("img05.jpg", width: "353", height: "166")%> 
                                <div class="image-text">Pal</div>
                            </div>
                            <ul>
                                <li><a href="#">Nandur Madhmeshwar Dam</a></li>
                                <li><a href="#">Migratory Birds</a></li>
                                <li><a href="#">Mrugvyadheshwar temple</a></li>
                                <li><a href="#">Beautyfull Sunset and Sunrise Sceneries</a></li>
                            </ul>
                            <p class="text-center"><a class="btn btn-green" href="#" role="button">View details »</a></p>
                        </div>
                    </div>

                    <div class="col-md-4 wow bounceInRight">
                        <h3>Aner Dam WLS</h3>
                        <div class="box">
                            <div class="img-holder"><%= image_tag("img06.jpg", width: "353", height: "166")%> 
                                <div class="image-text">Aner dam Shirpur</div>
                            </div>
                            <ul>
                                <li><a href="#">Nandur Madhmeshwar Dam</a></li>
                                <li><a href="#">Migratory Birds</a></li>
                                <li><a href="#">Mrugvyadheshwar temple</a></li>
                                <li><a href="#">Beautyfull Sunset and Sunrise Sceneries</a></li>
                            </ul>
                            <p class="text-center"><%= link_to "View details »", anerdam_path, class: "btn btn-green" %></p>
                          </div>
                      </div>
                  </div>
              </div>



          </div>
          <section class="section-event">
              <div><%= image_tag("event-image.jpg", style: 'width:100%') %></div> 
          </section>
          <!-- Range Forest End-->  

          <!-- Testimonials-->
          <section class="testimonials">
              <div class="container">
                  <div class="row">
                      <div class="col-md-8">
                          <h2>Testimonials</h2>
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when</p>
                          <br /><br />
                          <div class="col-md-6">
                              <div class="testimonials-box">
                                  <div class="user-pic"><%= image_tag("user-pic.jpg", width: "63", height: "74")%></div>
                                      <div class="user-name">Name gose here <span>CEO - founder, Aderlogik</span></div>

                                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                                  </div>
                              </div>
                          <div class="col-md-6">
                              <div class="testimonials-box">
                                  <div class="user-pic"><%= image_tag("user-pic.jpg", width: "63", height: "74")%></div>
                                      <div class="user-name">Name gose here <span>CEO - founder, Aderlogik</span></div>

                                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                                  </div>
                              </div>
                      </div>
                      <div class="col-md-4 important-link">
                          <h2>Important links</h2>
                          <ul>
                              <li><a href="#">4 Crore Plantation Information</a></li>
                              <li><a href="#">Online booking for Forest Rest Houses / Lodging / Safari</a></li>
                              <li><a href="#">Bio-Diversity</a></li>
                              <li><a href="#">Forest Development Corporation Of Maharashtra</a></li>
                              <li><a href="#">Internet</a></li>
                              <li><a href="#">DIPP Services</a></li>
                              <li><a href="#">Green Army</a></li>
                              <li><a href="#">Government of Maharashtra</a></li>
                              <li><a href="#">Maharashtra Agriculture Deptt</a></li>
                              <li><a href="#">Mahanews</a></li>
                          </ul>

                      </div>
                  </div>
          </section>
          <!-- Testimonials End-->
          <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <%#*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>%>
          <!-- Include all compiled plugins (below), or include individual files as needed -->
          <script>
              wow = new WOW(
              {
              animateClass: 'animated',
              offset:       100,
              callback:     function(box) {
              console.log("WOW: animating <" + box.tagName.toLowerCase() + ">")
              }
              }
              );
              wow.init();


          </script>
      </body>