
<section>
  <div class="container-fluid eco-tourism">
    <div class="container">
      <h1 class="page-title">Photo Gallery</h1>
    </div>
  </div>
</section>
<!-- Title Image end--> 

<!-- About and Important links-->
<section class="testimonials">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-4">
            <h3>Bhandardara</h3>
          </div>
          <div class="col-md-4">
            <h3>Nandur Madhameshawar</h3>
          </div>
        </div>
        <div class="row photo-gallery">
          <%#*<div class="col-md-4"> <a class="group1" href="photo-gallery/bhandardara/amruteshwar-temple.JPG" title=""><img src="photo-gallery/bhandardara/amruteshwar-temple.JPG" width="100%" height="100%"></a></div>%>
          <div class="col-md-4"><%= image_tag "amruteshwar-temple.JPG", style: 'height:100%;width:100%;' %></div>
          <div class="hide">
            <div class="col-md-4"><%= image_tag "DSCN0126.JPG", style: 'height:100%;width:100%;' %></div>
            <div class="col-md-4"><%= image_tag "DSCN2023.jpg", style: 'height:100%;width:100%;' %></div>
            <div class="col-md-4"><%= image_tag "entry-arch-at-Ratangad.jpg", style: 'height:100%;width:100%;' %></div>
            <div class="col-md-4"><%= image_tag "kokankada.JPG", style: 'height:100%;width:100%;' %></div>
            <div class="col-md-4"><%= image_tag "nackless-water-fall.JPG", style: 'height:100%;width:100%;' %></div>
            <div class="col-md-4"><%= image_tag "Nanhi-water-fall-at-koltembhe.jpg", style: 'height:100%;width:100%;' %></div>
            <div class="col-md-4"><%= image_tag "octangal-otta-at-Rantanwadi.jpg", style: 'height:100%;width:100%;' %></div>
            <div class="col-md-4"><%= image_tag "otta-at-panjare-bet.JPG", style: 'height:100%;width:100%;' %></div>
            <div class="col-md-4"><%= image_tag "reverse-water-fall.JPG", style: 'height:100%;width:100%;' %></div>
            <div class="col-md-4"><%= image_tag "umbardara-view-point.jpg", style: 'height:100%;width:100%;' %></div>
          </div>
          
          <div class="col-md-4"><%= image_tag "Nandur-Madhameshwar-Temple.jpg", style: 'height:100%;width:100%;' %></div>
          <div class="hide">
              <div class="col-md-4"><%= image_tag "Artificial-Bird-Roosting-Trees.jpg", style: 'height:100%;width:100%;' %></div>
              <div class="col-md-4"><%= image_tag "Bird-Watching.jpg", style: 'height:100%;width:100%;' %></div>
              <div class="col-md-4"><%= image_tag "Cliff-Swallow-Nest.jpg", style: 'height:100%;width:100%;' %></div>
              <div class="col-md-4"><%= image_tag "Common-Crane.jpg", style: 'height:100%;width:100%;' %></div>
              <div class="col-md-4"><%= image_tag "Common-Crane-Flock.jpg", style: 'height:100%;width:100%;' %></div>
              <div class="col-md-4"><%= image_tag "Coots.jpg", style: 'height:100%;width:100%;' %></div>
              <div class="col-md-4"><%= image_tag "Ducks.jpg", style: 'height:100%;width:100%;' %></div>
              <div class="col-md-4"><%= image_tag "Ducks-assemblage.jpg", style: 'height:100%;width:100%;' %></div>
              <div class="col-md-4"><%= image_tag "Entry-Gate.jpg", style: 'height:100%;width:100%;' %></div>
              <div class="col-md-4"><%= image_tag "Ipomea-Flower.jpg", style: 'height:100%;width:100%;' %></div>
              <div class="col-md-4"><%= image_tag "Lark.jpg", style: 'height:100%;width:100%;' %></div>
              <div class="col-md-4"><%= image_tag "Nandur-Madhameshwar-Temple.jpg", style: 'height:100%;width:100%;' %></div>
              <div class="col-md-4"><%= image_tag "Nature-Trail.jpg", style: 'height:100%;width:100%;' %></div>
              <div class="col-md-4"><%= image_tag "Painted-Stork-Flock.jpg", style: 'height:100%;width:100%;' %></div>
              <div class="col-md-4"><%= image_tag "Purple-Heron.jpg", style: 'height:100%;width:100%;' %></div>
              <div class="col-md-4"><%= image_tag "Red-Adavat.jpg", style: 'height:100%;width:100%;' %></div>
              <div class="col-md-4"><%= image_tag "Reed-Bed.jpg", style: 'height:100%;width:100%;' %></div>
              <div class="col-md-4"><%= image_tag "Rosy-Starling-Flight.jpg", style: 'height:100%;width:100%;' %></div>
              <div class="col-md-4"><%= image_tag "Small-Pratincole.jpg", style: 'height:100%;width:100%;' %></div>
              <div class="col-md-4"><%= image_tag "Snake.jpg", style: 'height:100%;width:100%;' %></div>
              <div class="col-md-4"><%= image_tag "Sunset-at-Nandur.jpg", style: 'height:100%;width:100%;' %></div>
          </div>
          
        </div>
      </div>
      <div class="col-md-4 margin-topBot10">
        <div class="important-link col-md-12">
          <h2>Important links</h2>
          <ul>
            <li><a href="#">4 Crore Plantation Information</a></li>
            <li><a href="#">Online booking for Forest Rest Houses / Lodging / Safari</a></li>
            <li><a href="#">Bio-Diversity</a></li>
            <li><a href="#">Forest Development Corporation Of Maharashtra</a></li>
            <li><a href="#">Internet</a></li>
            <li><a href="#">RTS Services</a></li>
            <li><a href="#">DIPP Services</a></li>
            <li><a href="#">Green Army</a></li>
            <li><a href="#">Government of Maharashtra</a></li>
            <li><a href="#">Maharashtra Agriculture Deptt</a></li>
            <li><a href="#">Mahanews</a></li>
          </ul>
        </div>
        <div style='display:none'>
          <div id='inline_content' style='padding:10px; background:#fff;'>
            <p><strong>This content comes from a hidden element on this page.</strong></p>
            <p>The inline option preserves bound JavaScript events and changes, and it puts the content back where it came from when it is closed.</p>
            <p><a id="click" href="#" style='padding:5px; background:#ccc;'>Click me, it will be preserved!</a></p>
            <p><strong>If you try to open a new Colorbox while it is already open, it will update itself with the new content.</strong></p>
            <p>Updating Content Example:<br />
              <a class="ajax" href="../content/ajax.html">Click here to load new content</a></p>
          </div>
        </div>
        <div class="important-link col-md-12 margin-topBot10">
          <h2>Upcoming Events</h2>
          <div><%= image_tag "events.png", style: 'width:100%;' %></div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- About and Important links End--> 

<%#*<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->%> 
<%#*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>%> 
<%#*<!-- Include all compiled plugins (below), or include individual files as needed -->%> 
<%#*<script src="js/bootstrap.min.js"></script>%> 
<%#*<script src="js/jquery.colorbox.js"></script>%> 
<script>
			$(document).ready(function(){
				//Examples of how to assign the Colorbox event to elements
				$(".group1").colorbox({rel:'group1'});
				$(".group2").colorbox({rel:'group2', transition:"fade"});
				$(".group3").colorbox({rel:'group3', transition:"none", width:"75%", height:"75%"});
				$(".group4").colorbox({rel:'group4', slideshow:true});
				$(".ajax").colorbox();
				$(".youtube").colorbox({iframe:true, innerWidth:640, innerHeight:390});
				$(".vimeo").colorbox({iframe:true, innerWidth:500, innerHeight:409});
				$(".iframe").colorbox({iframe:true, width:"80%", height:"80%"});
				$(".inline").colorbox({inline:true, width:"50%"});
				$(".callbacks").colorbox({
					onOpen:function(){ alert('onOpen: colorbox is about to open'); },
					onLoad:function(){ alert('onLoad: colorbox has started to load the targeted content'); },
					onComplete:function(){ alert('onComplete: colorbox has displayed the loaded content'); },
					onCleanup:function(){ alert('onCleanup: colorbox has begun the close process'); },
					onClosed:function(){ alert('onClosed: colorbox has completely closed'); }
				});

				$('.non-retina').colorbox({rel:'group5', transition:'none'})
				$('.retina').colorbox({rel:'group5', transition:'none', retinaImage:true, retinaUrl:true});
				
				//Example of preserving a JavaScript event for inline calls.
				$("#click").click(function(){ 
					$('#click').css({"background-color":"#f00", "color":"#fff", "cursor":"inherit"}).text("Open this window again and this message will still be here.");
					return false;
				});
			});
		</script> 
<script src="js/wow.min.js"></script> 
<script>
    wow = new WOW(
      {
        animateClass: 'animated',
        offset:       100,
        callback:     function(box) {
          console.log("WOW: animating <" + box.tagName.toLowerCase() + ">")
        }
      }
    );
    wow.init();
	
    
  </script>
