
    <!-- Title Image-->
<section>
	<div class="container-fluid about-us-title">
    	<div class="container">
        	<h1 class="page-title">आमच्या विषयी</h1>
        </div>
    </div>
</section>
    <!-- Title Image end-->

    <!-- About and Important links-->
    <section class="testimonials">
        <div class="container">
            <div class="row">
                <div class="col-md-8 about-text">
                    <h3>वनचे (वन्यजीव) नाशिकचे अभियोजक स्वागत आहे</h3>
                    <p>जागतिक पातळीवर तसेच राष्ट्रीय स्तरावर, वनसंरक्षणामुळे कार्बनचे अनुकरण करताना एक शक्तिशाली साधन म्हणून वाढ होत आहे आणि त्याद्वारे प्रतिकूल वातावरणातील बदलाची भरपाई केली जात आहे. </p><p>

                      राज्य वनविभागाचे राज्याचे समृद्ध आणि वैविध्यपूर्ण जैववैविध्यतेचे संरक्षक आहे, ते संरक्षण-केंद्रित प्रबंधन आणि संरक्षणाचे धोरण करण्यासाठी कटिबद्ध आहे. 
                    </p><p>
                        वन्यजीवन केंद्रित पर्यावरणीय पर्यटन व्यवस्थापन टिकाव वर टिका आहे उत्पादन - ते लाकूड किंवा नॉन-इमारती लाकूड वन उत्पादन तिच्या कोर मध्ये टिकाव सह व्यवस्थापित आहे. नैसर्गिक संसाधने तसेच जीवनावश्यक सुरक्षेसाठी संयुक्त वनसंरचना व्यवस्थापन हे प्रमुख लोक-केंद्रित क्रियाकलाप आहे. </p><p>

                        स्थानिक कारागीरांची कौशल्ये कमीतकमी जंगलातून जसे की बांबू आणि ऊस. </p><p>

                        ३३% क्षेत्रफळाच्या राष्ट्रीय स्तरावर हिरव्या रंगाच्या संरक्षणासाठी राष्ट्रीय वनक्षेत्र प्राप्त करण्यासाठी नॉन-वन क्षेत्रावरील हिरव्या कव्हर वृद्धिंगत करणे हे अग्रभागीय अजेंडा आहे. चालू वानिकी व्यवसायांवर लक्ष ठेवण्यासाठी ई-गव्हर्नन्सच्या पूरक माहिती आणि संप्रेषण तंत्रज्ञानाचा सघन वापर प्रभावी अंमलात आहे. </p><p>

                        वनसंरचनाचे सत्य चित्र तयार करण्यासाठी डिजिटल प्लॅटफॉर्मचा व्यापक वापर केंद्रीय थीम बनविते.</p>

                    <h3 class="text-center">संघटनेचा आलेख</h3> 

                    <div class="row">
                        <div class="col-md-12 organization-chart">
                            <%= image_tag "default-user.png", width: "", height: "" %>
                            <p><strong>वन संरक्षक (वन्यजीव) नाशिक</strong> <br /> <small>(०२५३-२५०५११४/१५)</small></p>
                        </div>
                        <div class="col-md-4 organization-chart">
                            <%= image_tag "default-user.png", width: "", height: "" %>
                            <p>वन्यजीव अभियंता (वन्यजीव)<br /> <strong>नांदूर मधमेश्वर अभयारण्य</strong>  <br /> <small>(०२५३-२५०५११४)</small></p>
                        </div>
                        <div class="col-md-4 organization-chart">
                            <%= image_tag "default-user.png", width: "", height: "" %>
                            <p>वन्यजीव अभियंता (वन्यजीव) <br /> <strong>कळसूबाई हरीचंद्रा गड अभयारण्य</strong>  <br /> <small>(०२५३-२५०५११४)</small></p>
                        </div>
                        <div class="col-md-4 organization-chart">
                            <%= image_tag "default-user.png", width: "", height: "" %>
                            <p>वन्यजीव अभियंता (वन्यजीव) <br /><strong> यावल अभयारण्य</strong>  <br /> <small>(०२५८५-२६०६१०)</small></p>
                        </div>
                        <div class="row"></div>
                        <div class="col-md-12 organization-chart">
                            <%= image_tag "default-user.png", width: "", height: "" %>
                            <p>वन्यजीव अभियंता (वन्यजीव) <br /> <strong>अनेर धरण अभयारण्य</strong>  <br /> <small>( ०२५६३/२५९०५३)</small></p>
                        </div>
                        <div class="row"></div>
                        <h3 class="text-center">श्रेणी वन अधिकारी (वन्यजीव) </h3>

                        <div class="col-md-4 organization-chart">
                            <%= image_tag "default-user.png", width: "", height: "" %>
                            <p>श्रेणी वन अधिकारी (वन्यजीव) <br /> <strong>नांदूर मधमेश्वर</strong>   <br /> <small>(०२५३-२५०५११६)</small></p>
                        </div>
                        <div class="col-md-4 organization-chart">
                            <%= image_tag "default-user.png", width: "", height: "" %>
                            <p>श्रेणी वन अधिकारी (वन्यजीव) <br /> <strong>राजूर</strong>   <br /> <small>(०२४२४/२०२२६०)</small></p>
                        </div>
                        <div class="col-md-4 organization-chart">
                            <%= image_tag "default-user.png", width: "", height: "" %>
                            <p>श्रेणी वन अधिकारी (वन्यजीव) <br /> <strong>भंडारदरा</strong>   <br /> <small>(०२४२४/२५७०१३)</small></p>
                        </div>

                        <div class="col-md-4 organization-chart">
                            <%= image_tag "default-user.png", width: "", height: "" %>
                            <p>9.	श्रेणी वन अधिकारी (वन्यजीव) <br /><strong>जमना</strong>   <br /> </p>
                        </div>
                        <div class="col-md-4 organization-chart">
                            <%= image_tag "default-user.png", width: "", height: "" %>
                            <p>10.	श्रेणी वन अधिकारी (वन्यजीव) <br /> <strong>पाल</strong>   <br /> <small>(०२५८४/२८८२४२)</small></p>
                        </div>
                        <div class="col-md-4 organization-chart">
                            <%= image_tag "default-user.png", width: "", height: "" %>
                            <p>11.	श्रेणी वन अधिकारी (वन्यजीव) <br /> <strong>अनेर बांध शिरपूर</strong> <br /> <small>(०२५६३/२५९०५३)</small></p>
                        </div>

                    </div> 
                </div>
                <div class="col-md-4 margin-topBot10">
                    <div class="important-link col-md-12">
                        <h2>महत्वाचे दुवे</h2>
                    <ul>
                        <li><a href="#">४ कोटी वृक्षारोपण माहिती</a></li>
                        <li><a href="#">वन विश्राम गृह / लॉजिंग / सफारीसाठी ऑनलाइन बुकिंग</a></li>
                        <li><a href="#">जैव विविधता</a></li>
                        <li><a href="#">महाराष्ट्र वन विकास महामंडळ</a></li>
                        <li><a href="#">इंटरनेट</a></li>
                        <li><a href="#">DIPP सेवा</a></li>
                        <li><a href="#">हिरव्या सैन्य</a></li>
                        <li><a href="#">महाराष्ट्र सरकार</a></li>
                        <li><a href="#">महाराष्ट्र कृषी विभाग</a></li>
                        <li><a href="#">महाराष्ट्र बातम्या</a></li>
                    </ul>
                    </div>
                    <div class="important-link col-md-12 margin-topBot10">
                        <h2>पुढील कार्यक्रम</h2>

                        <%= image_tag("events.png", width: "353")%>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About and Important links End-->

<script>
        wow = new WOW(
        {
        animateClass: 'animated',
        offset:       100,
        callback:     function(box) {
        console.log("WOW: animating <" + box.tagName.toLowerCase() + ">")
        }
        }
        );
        wow.init();
    </script>