<!DOCTYPE html>
<!-- Title Image-->
<section>
	<div class="container-fluid eco-tourism">
    	<div class="container">
       	  <h1 class="page-title">इको-पर्यटन</h1>
        </div>
    </div>
</section>
<!-- Title Image end-->

 
 
 <!-- About and Important links-->
 <section class="testimonials">
 <div class="container font-marathi">
 	<div class="row">
    	<div class="col-md-4 margin-topBot10">
        <div class="important-link">
        	<div class="col-md-12"><h2>इतर ठिकाणे</h2></div>
            <div class="clearfix"></div>
                <ul class="sidebar-menu">
                    <li id="m1_click" class="active"><a href="javascript:void(0);">भंडारदरा</a></li>
                    <li id="m2_click"><a href="javascript:void(0);">शेंडे गाव </a></li>
                    <li id="m3_click"><a href="javascript:void(0);">कळसुबाई शिखर </a></li>
                    <li id="m4_click"><a href="javascript:void(0);">हरिश्चन्द्रगड</a></li>
                    <li id="m5_click"><a href="javascript:void(0);">विल्सन फॉल </a></li>
                    <li id="m6_click"><a href="javascript:void(0);">रंधा फॉल </a></li>
                    <li id="m7_click"><a href="javascript:void(0);">रतनवाडी</a></li>
                    <li id="m8_click"><a href="javascript:void(0);">घाटघर </a></li>
                    <li id="m9_click"><a href="javascript:void(0);">रतनगड</a></li>
                    <li id="m10_click"><a href="javascript:void(0);">आजोबागड </a></li>
                    <li id="m11_click"><a href="javascript:void(0);">सांधण दरी</a></li>
                    <li id="m12_click"><a href="javascript:void(0);">अलंग गड</a></li>
                    <li id="m13_click"><a href="javascript:void(0);">कुलंग</a></li>
                </ul>
            </div>
      <div class="important-link col-md-12 margin-topBot10">
            	<h2>पुढील कार्यक्रम</h2>
                
                <div><%= image_tag("events.png", style: 'width:100%;')%></div>
            </div>
        </div>
    	<div class="col-md-8 about-text">
        <div id="bhandardara">
        <h3 class="page-header-inner">भंडारदरा</h3>
            <div class="row">
            	<div class="col-md-6"><%= image_tag("bhandardara01.jpg", style: 'width:100%;')%></div>
                <div class="col-md-6">
               	  <p>येरे येरे पावसा तुला देतो पैसा अशी काहीशी अवस्था आपली झाली आहे.. जून महिना अर्धा संपत आला तरी पावसाने हवा तसा जोर धरलेला नाही, या पावसाळ्याची आतुरतेने वाट पाहत असतो. स्पेशल पावसाळी सहल कुठे कुठे जायचे याचे प्लॅनिंग ऑफिस, आपला आवडता कट्टा, वॉट्सअॅप ग्रुप सगळीकडे सुरू झाले आहेत. लोणावळा, खंडाळा, माळशेज, माथेरान, निरनिराळे धबधबे यांच्याशिवाय एक अविस्मरणीय स्थळ भंडारदरा म्हणजे निसर्गाच्या कुशीत जाण्याचा अनुभव आहे. या पावसाळ्यात नक्कीच जाऊन या.. </p>
                  <p>निसर्गाची बदलती रूपं अगदीच जवळून पाहायची असेल तर सह्याद्री डोंगरद-यांच्या कुशीत गेलेच पाहिजे. </p>
                </div>
                <div class="col-md-6">
               	  <p>सभोवताली फक्त आणि फक्त निसर्ग आहे, कानांमध्ये वा-याची झुळुक, हवेत गारवा, क्षणात काळे, क्षणात शुभ्र निळे होणारे आणि प्रवाहाच्या दिशेने जाणारे ढग पाहताना गंमतच वाटते. स्वर्ग कसा असतो हे कोणालाच माहीत नसते पण निसर्गाचे सौंदर्य पाहिले की आपण स्वर्गात आहोत की काय असं मनात नक्कीच येऊन जाते.</p>
                  <p>असाच एक स्वर्ग आहे जो आपण या पावसाळ्यामध्ये पाहण्याचा प्लॅन करू शकतो. रिमझिम पाऊस, दाट धुकं, शुद्ध थंड हवा, हवेत दरवळणारा मातीचा सुंगध, सगळीकडे हिरवेगार गालिचे, उंच उंच डोंगरद-या, मनसोक्त कोसळणारा धबधबा, आहे ना सुंदर वर्णन.. मन सैरावैरा पळत असेल तर नक्कीच अशा निसर्गाच्या सान्निध्यात शांत होईल. चला तर मग भंडारदरा..</p>
                </div>
                <div class="col-md-6"><%= image_tag("bhandardara02.jpg", style: 'width:100%;')%></div>
                <div class="col-md-12">
                	<h4 class="sub-heading">भंडारदरा आहे कुठे ?</h4>
                    <p>निसर्गसौंदर्यासाठी प्रसिद्ध असलेले गाव भंडारदरा. हे महाराष्ट्र राज्यातील अहमदनगर जिल्ह्याच्या अकोले तालुक्यात. भंडारदरा-शेंडी हे प्रवरा नदीच्या काठी वसलेले एक आदिवासी कोळी महादेव जमातीचे गाव. पर्यटकांसाठी आकर्षणाचे केंद्रबिंदू भंडारदरा धरण आणि रंधा धबधबा आहेत. येथे पाहण्यासाठी असणारे स्थळ कळसुबाई मंदिर, पांजरे बेट, अलंग, मलंग, कुलंग गड, उंबरदारा व्ह्युव पॉइंट, कोकणकडा, घाटनदेवी व्ह्युव पॉइंट, सांदन दरी, रिव्हर्स वॉटर फॉल, अमृतेश्वर मंदिर, नान्ही वॉटर फॉल, विल्सन डॅम, कळसुबाई शिखर, रत्नागड, रंधा फॉल, रतनवाडी, घाटघर असे पर्याय आहेतच. तेथील गावकरींना हा तुमचा गाईड म्हणून घेऊ शकता. त्यांच्याकडे वनपरीक्षेत्र वन्यजीव भंडारदरा कार्यालय, गाईड ओळखपत्र क्रमांक पाहावा.</p>
                    <p class="page-contact">
                    	<a href="javascript:void(0);"><i class="fa fa-envelope-o" aria-hidden="true"></i> info@domainname.com</a> |
                        <a href="javascript:void(0);"><i class="fa fa-phone" aria-hidden="true"></i> 0२४२४ / २५७०१३</a>
                    </p>
                </div>
            </div>
        </div>
        
        <div id="shende">
        <h3 class="page-header-inner">शेंडे गाव </h3>
            <div class="row">
                <div class="col-md-6"><%= image_tag("bhandardara01.jpg", style: 'height:100%;width:100%;')%></div>
                <div class="col-md-6">
               	  <p>रात्रीच्या शांततेतच काजवे पाहण्यासाठी भंडारदरा येथील शेंडे गाव प्रसिद्ध आहे. मुंबईकरांना काजव्यांचे आकर्षण कायमच असते. पावसाळ्याच्या सुरुवातीला आणि पाऊस सुरुवात झाल्यावर जाऊ शकतो. पावसाळ्यात चांदण्या आणि चंद्र यांचं दर्शन दुर्मीळ असते. ढगांच्या आड त्यांचे दर्शन कमीच मिळते. यावेळी या काजव्यांची रोषणाई अधिक उठून दिसते. पूर्ण झाडावर विजेचा लखलखाट दिसतो. काजव्याचा मुख्य उद्देश हा आपल्या जोडीदाराला आकर्षित करून घेणं आणि आपलं अन्न शोधणं हा असतो. </p>
                  <p>आपल्या जोडीदारासोबत कायमस्वरूपी लक्षात राहावं असं काही तरी पाहायचे असेल तर नक्कीच जा काजवे दर्शन करायला. मे आणि जून महिन्यात या काजव्यांचे दर्शन होते. दिवसभर भटकंती करून रात्री काजव्याचे दर्शन घेऊन परतीच्या वाटेवर निघू शकता.</p>
                </div>
                
                
                <div class="col-md-12">
                	
                    <p class="page-contact">
                    	<a href="javascript:void(0);"><i class="fa fa-envelope-o" aria-hidden="true"></i> info@domainname.com</a> |
                        <a href="javascript:void(0);"><i class="fa fa-phone" aria-hidden="true"></i> 0२४२४ / २५७०१३</a>
                    </p>
                </div>
            </div>
        </div>
        
        <div id="kalsubai">
        <h3 class="page-header-inner"> कळसुबाई शिखर </h3>
            <div class="row">
            	<div class="col-md-6"><%= image_tag("bhandardara01.jpg", style: 'width:100%;')%></div>
                <div class="col-md-6">
               	  <p>ट्रेकिंगचा विचार असेल तर हा पर्याय आहे. महाराष्ट्रातील सह्याद्रीचे सर्वाधिक उंच शिखर 'कळसुबाई'. कळसुबाई शिखराची उंची १६४६ किमी. पावसाळ्यातील ट्रेकिंगचा उत्तम पर्याय आणि गिर्यारोहकांचे पावसाळ्यातील आवडते ठिकाण. ढगांमध्ये हरवायचं असेल, हवेत उडायचं असेल, एक थरार, एक नवा अनुभव घ्यायचा असेल, काहीतरी साहसी आणि कायम लक्षात राहील असं करायचं असेल तर बेस्ट पर्याय हा आहे. हे शिखर भंडा-यापासून सहा किमी अंतरावर आहे. बरी या गावातून या शिखरावर चढण्यासाठी सुरुवात करावी लागते. मुंबईपासून १८० किमी आणि पुण्यापासून ८० किमी अंतरावर हे ठिकाण आहे.</p>
                  
                </div>
                
                
                <div class="col-md-12">
                	
                    <p class="page-contact">
                    	<a href="javascript:void(0);"><i class="fa fa-envelope-o" aria-hidden="true"></i> info@domainname.com</a> |
                        <a href="javascript:void(0);"><i class="fa fa-phone" aria-hidden="true"></i> 0२४२४ / २५७०१३</a>
                    </p>
                </div>
            </div>
        </div>
        
        
        <div id="harishchandragad">
        <h3 class="page-header-inner"> हरिश्चन्द्रगड  </h3>
            <div class="row">
            	<div class="col-md-6"><%= image_tag("bhandardara01.jpg", style: 'width:100%;')%></div>
                <div class="col-md-6">
                <p>नितांत रमणीय हरिश्चंद्रगड (जि. नगर)</p>
                
               	  <p>कळसुबाई ते हरिश्चन्द्रगड अभयारण्य – महाराष्ट्रातील सर्वात उंच शिखर कळसुबाई ते हरिश्चन्द्रगडपर्यंत पसरलेल्या निसर्गरम्य, विलोभनीय, हिरव्यागर्द वनराईचा गिरी शिखरांनी वेढलेल्या प्रवरा, मुळा ह्या नद्यांचे उगमस्थान असलेला जंगलपट्टा म्हणजेच कळसुबाई हरिश्चन्द्रगड अभयारण्य.</p>
                  
                </div>
                
                
                <div class="col-md-12">
                	<p>महाराष्ट्र भूमंडळाचे ठायी असंख्य दुर्गांची मांदियाळी आहे. पण माळशेज घाटा नजीकचा रमणीय हरिश्चंद्रगड म्हणजे एक अफलातून ठिकाण आहे. रौद्र भीषण सौंदर्याचा साक्षात्कार घडविणारा कोकण कडा उरात धडकीच भरवितो. तेथील सुरेख कोरीव कामाचं प्राचीन मंदीर, योगीराज चांगदेवांचे शिलालेख, समृध्द निसर्ग, नीरव शांतता, कोरीव लेणी हे सारं पहायचं म्हणजे नगर जिल्ह्यातील हरिश्चंद्रगडावर जायलाच हवं. पण इथं ना मुक्कामाची उत्तम सोय, ना चहा-पाण्याची उपलब्धता. निसर्गात हरवून जायला आडवाटेवरचा हा देखणा दुर्ग पहायचा तर अडचणीच फार. पण तरीही जाऊन पहायलाच हवा.</p>
                    <h4 class="sub-heading">हरिश्चंद्रगडाला कसे जाल?</h4>
                    <p>पुण्याहून आळेफाटा आणि त्यानंतर आळेफाटयाहून ओतूरमार्गे खिरेश्वरला एस.टी. ने जाता येते. मुंबईहून निघायचे असले तरी माळशेजघाटामार्गे खिरेश्वरला एस.टी. ने जाता येते. खिरेश्वरला एकदा पोचले की तिथून गडावर पायी चालू लागावे लागते. वर रहाण्या-जेवण्याची कोणतीही सोय नाही. ओतूरमध्ये रहाण्या-जेवण्याची सर्वसाधारण सोय होऊ शकते.</p>
                    <p class="page-contact">
                    	<a href="javascript:void(0);"><i class="fa fa-envelope-o" aria-hidden="true"></i> info@domainname.com</a> |
                        <a href="javascript:void(0);"><i class="fa fa-phone" aria-hidden="true"></i> 0२४२४ / २५७०१३</a>
                    </p>
                </div>
            </div>
        </div>
        
        
        <div id="vilson">
        <h3 class="page-header-inner">  विल्सन फॉल  </h3>
            <div class="row">
            	<div class="col-md-6"><%= image_tag("bhandardara01.jpg", style: 'width:100%;')%></div>
                <div class="col-md-6">
               	  <p>पावसाळा म्हटले की धबधब्याचे आकर्षण सगळ्यांनाच असते. हा धबधबाही तितकाच सुंदर आणि आकर्षक आहे. मोठा गोल आकाराचा असा गोलाकार धबधबा आहे. छत्रीसारख्या आकारामुळे त्याला अम्ब्रेला फॉल असेही बोलतात.</p>
                  
                </div>
                
                
                <div class="col-md-12">
                	
                    <p class="page-contact">
                    	<a href="javascript:void(0);"><i class="fa fa-envelope-o" aria-hidden="true"></i> info@domainname.com</a> |
                        <a href="javascript:void(0);"><i class="fa fa-phone" aria-hidden="true"></i> 0२४२४ / २५७०१३</a>
                    </p>
                </div>
            </div>
        </div>
        
        <div id="randha">
        <h3 class="page-header-inner"> रंधा फॉल </h3>
            <div class="row">
            	<div class="col-md-6"><%= image_tag("bhandardara01.jpg", style: 'width:100%;')%></div>
                <div class="col-md-6">
               	  <p>शेंडी या गावापासून १० किलोमीटर अंतरावर रंधा या गावात रंधा फॉल असून तो गावाच्या नावावरूनच रंधा फॉल म्हणून प्रसिद्ध आहे. पावसाळ्यात हा धबधबा अतिशय रौद्र रूप धारण करतो. पावसाळ्यात मुख्य धबधब्याच्या उजव्या बाजूने अजून एक धबधबा पाहायला मिळतो. दोन्ही धबधबे पूर्ण क्षमतेने वाहत असताना पाहणे हा एक रोमांचित करणारा अनुभव आहे. या धबधब्याच्या जवळच एक देवीचे मंदिर आहे. पावसाळ्यात ते पूर्णपणे पाण्याखाली जाते. पाहण्यासाठी छान पण भीतिदायक असलेला धबधबा भंडाराचे मोठे आकर्षण बिंदू आहे.</p>
                  
                </div>
                
                
                <div class="col-md-12">
                	
                    <p class="page-contact">
                    	<a href="javascript:void(0);"><i class="fa fa-envelope-o" aria-hidden="true"></i> info@domainname.com</a> |
                        <a href="javascript:void(0);"><i class="fa fa-phone" aria-hidden="true"></i> 0२४२४ / २५७०१३</a>
                    </p>
                </div>
            </div>
        </div>
        
        <div id="ratanwadi">
        <h3 class="page-header-inner"> रतनवाडी</h3>
            <div class="row">
            	<div class="col-md-6"><%= image_tag("bhandardara01.jpg", style: 'width:100%;')%></div>
                <div class="col-md-6">
               	  <p>बोटिंगचा अनुभव घ्यायचा असेल तर भंडारद-याहून रतनवाडी जाता येते. रतनवाडी येथे अमृतेश्वराचे पुरातन हेमाडपंथी मंदिर आहे. या मंदिरावरील दगडी नक्षीकाम अत्यंत सुबक आणि देखणे असून त्यात मुख्य गाभा-यात एक शिवलिंग आहे, पावसाळ्यात हे शिवलिंग पूर्णत: पाण्यामध्ये बुडालेले असते. रतनवाडी परिसरात अनेक धबधबे असून गळ्यातील हारासारखा दिसणारा 'नेकलेस फॉल' हा विशेष लोकप्रिय आहे.</p>
                  
                </div>
                
                
                <div class="col-md-12">
                	
                    <p class="page-contact">
                    	<a href="javascript:void(0);"><i class="fa fa-envelope-o" aria-hidden="true"></i> info@domainname.com</a> |
                        <a href="javascript:void(0);"><i class="fa fa-phone" aria-hidden="true"></i> 0२४२४ / २५७०१३</a>
                    </p>
                </div>
            </div>
        </div>
        
        <div id="ghatghar">
        <h3 class="page-header-inner"> घाटघर </h3>
            <div class="row">
            	<div class="col-md-6"><%= image_tag("bhandardara01.jpg", style: 'width:100%;')%></div>
                <div class="col-md-6">
               	  <p>शेंडी गावापासून २२ किमी अंतरावर घाटघर गाव. भंडारदरा धरणाच्या कडेकडेने घाटघपर्यंत करावयाचा प्रवास निसर्गाच्या कुशीत जाण्यासारखा आहे. येथे कोकणकडा अतिशय प्रसिद्ध असून इथून कोकण आणि सह्याद्री पर्वताचे आकर्षण आहे. हिरवाईने नटलेला परिसर, धबधबा, धुक्यात हरवलेला रस्ता, सगळं मन प्रसन्न करणारे आहे. घाटघरला येथे खूप पाऊस पडतो म्हणून यास नगर जिल्ह्याचे चेरापुंजी असे म्हणतात.</p>
                  <p><strong>जेवणाची सोय</strong> – अमृतेश्वरमध्ये छोटी छोटी हॉटेल्स उपलब्ध आहेत. घरगुती आणि रुचकर जेवण मिळते. नगरची शेव भाजी आणि वाग्यांचे भरीत, गावठी कोंबडी यांचा मनसोक्त आनंद घेता येतो. तसेच एमटीडीसीचे हॉटेल राहण्यासाठी भंडारदरा येथे आहे</p>
                  
                </div>
                
                
                <div class="col-md-12">
                	
                    <p class="page-contact">
                    	<a href="javascript:void(0);"><i class="fa fa-envelope-o" aria-hidden="true"></i> info@domainname.com</a> |
                        <a href="javascript:void(0);"><i class="fa fa-phone" aria-hidden="true"></i> 0२४२४ / २५७०१३</a>
                    </p>
                </div>
            </div>
        </div>
        
        <div id="ratangad">
        <h3 class="page-header-inner"> रतनगड </h3>
            <div class="row">
            	<div class="col-md-6"><%= image_tag("bhandardara01.jpg", style: 'width:100%;')%></div>
                <div class="col-md-6">
               	  <p>सह्याद्रीचे रांगड रुप, सह्याद्रीचा राकटपणा, सह्याद्रीचे कातळकडे आणि त्याचा कणखरपणा अनुभवायचा असेल तर आपल्याला रतनगडाला भेट द्यावी लागेल. अहमदनगर जिल्ह्यामधे अकोले तालुका आहे. अहमदनगरच्या पश्चिम अंगाला हा</p>
                  <p>अकोले तालुका डोंगरदर्यांनी अतिशय समृद्ध आहे. या गिरीकुहरामधे वसलेल्या अनेक दुर्गरत्नांमधे रतनगड हा किल्ला आहे.</p>
                 
                  
                </div>
                <div class="col-md-12">
                 <p>भंडारदर्याच्या परिसरातील निसर्गरम्य ठिकाणे पहाणे आनंददायी आहे. हा आनंद लुटण्यासाठी दरवर्षी लाखो पर्यटक या परिसरामधे येत असतात. पण आडवाटेवर दुर्गम ठिकाणी असलेल्या रतनगडावर मात्र काही मोजकेच पर्यटक जातात. अर्थात रतनगड आपली कसोटी पहाण्यात कसलीही कसूर करीत नाही. इच्छा, शारिरीक क्षमता आणि वेळेचे नियोजना व्यवस्थीत केल्यास रतनगडाची भेट चिरकाल स्मरणात राहील अशीच आहे.</p>
                	<p>अहमदनगर आणि नाशिक जिल्ह्यांच्या सीमेवर कळसूबाईची डोंगररांग आहे. या डोंगररांगेच्या दक्षिणेकडे रतनगड किल्ला आहे. रतनगडाजवळ प्रवरानदी उगम पावते. या प्रवरानदीवर भंडारदरा धरण आहे. पुर्वी हे विल्सन डॅम म्हणून परिचित होते. या धरणाच्या पाण्याचा फुगवटा दोन बाजूंना पसरला आहे. एक फाटा समुद्रकडे जातो जर दुसरा फाटा रतनवाडीकडे जातो.</p>
                  <h4 class="sub-heading">इतिहास</h4>
                  <p>इंग्रजांचे राज्य येण्यापुर्वी रतनगडास फार महत्व होते.अलंग,कुलंग,मलंग हे किल्ले आणि राजुर,सोकलीचा प्रदेश रतनगडाच्या अधिपत्याखाली येत होता.इ.स. १७६३ मध्ये जावजी या कोळी सरदाराच्या ताब्यात हा गड होता.कॅप्टन गोडार्डने या किल्ल्यावर १८२० मध्ये प्रत्यक्ष ताबा मिळवुन गडावरच आपला तळ ठोकला.पण त्याचा मुक्काम हलताच पूर्वीचा किल्लेदार गोविंदराव याने रामजी भंग्रियाच्या साथिने परत उठाव करुन रतनगड ताब्यात घेतला.</p>
                  <h4 class="sub-heading">गडावरील पहाण्यासारखी ठिकाणे</h4>
                  <p>साधारण दीड दोन तासात रतनगडच्या खुटय़ाला वळसा मारुन आपण रतनगडाच्या कातळ भिंतीना भिडतो. डावीकडे खोल दरीतील बाणच्या मुळका आपले लक्षवेधून घेतो. कातळभिंतीच्या कडेने आडवे चालत गेल्यावर पायर्या लागतात. या कातळकोरीव पायर्यांबरोबरच कातळात कोरलेला त्रंबक दरवाजा आहे. या दमछाक करणार्या मार्गाने आपण गडामधे प्रवेश करतो. या प्रवेशदारात पहारेकर्यांच्या देवडय़ा आहेत. अर्थात देवडय़ा, दरवाजा आणि पायर्या या सर्व कातळात कोरुन तयार केलेल्या आहेत.</p>
                  <p>कुलंग, मदन, अलंगडाबरोबर महाराष्ट्राचे उत्तुंग शिखर कळसूबाईचे दर्शन घेवून आपण रतनगडाच्या नेढय़ाकडे चालू लागतो. नेठे म्हणजे डोंगराला असलेले आरपार भोक. रतनगड, मदनगड, राजगड, कन्हेरगड अशा काही मोजक्याच किल्ल्यांना नेढे आहे. गडाच्या पश्चिमकडील कात्राबाईच्या डोंगराचे कातळकडे भान हरपून टाकतात. त्याच्या उजवीकडे आजोबाचा विशाल पर्वत आणि त्याची लिंगी लक्षवेधी आहे. येथून जवळच एक सुटा टेहाळणी बुरुज आहे. याला राणीचा हुडा म्हणतात. इथे जवळच पिण्यायोग्य पाण्याचे टाके आहे. इथे एक नंदी आणि शिवलींग पहायला मिळते.इथून जवळच गणेश दरवाजा आहे. गणेश दरवाजाच्या थोडे पुढे हनुमान दरवाजा आहे. जवळच कडय़ात कोरलेल्या गुहेत गडाची देवता रत्नादेवी तांदळा आहे. कळसूबाई, रत्नाबाई आणि कात्राबाई या तीन बहीणी होत्या. या तीन बहीणींचे वास्तव्य या तीन डोंगरांवर होते. म्हणून हे तीनही डोंगर त्यांच्या नावाने प्रसिद्ध झाल्याची कथा या परिसरातील लोकमानसांमध्ये रुजलेली आहे.</p>
                  <h4 class="sub-heading">गडावर जाण्याच्या वाटा</h4>
                  <p>अहमदनगर आणि नाशिक जिल्ह्यांच्या सीमेवर कळसूबाईची डोंगररांगआहे. या डोंगररांगेच्या दक्षिणेकडे रतनगड किल्ला आहे.</p>
                  <p>आपल्याला आधी अहमदनगर ला जावे लागते . तेथून बस ने अकोले या गावी जावे लागते. अहमदनगरच्या पश्चिम अंगाला अकोले हा तालुका आहे.</p>
                  <p><strong>गडावर राहण्याची सोय :</strong> गडावरती राहण्यासाठी नाही .</p>
                  <p><strong>जेवणाची सोय :</strong> येथे जेवणाची सोय नसल्याने जेवणाचे साहित्य आपण स्वतःच घेऊन जावे लागते.</p>
                  <p><strong>गडावर पाण्याची सोय :</strong> गडावर जवळच एक सुटा टेहाळणी बुरुज आहे. याला राणीचा हुडा म्हणतात. इथे जवळच पिण्यायोग्य पाण्याचे टाके आहे. तेथे बारामाही पाणी असते .</p>
                  <p><strong>जाण्यासाठी लागणारा वेळ :</strong> संपूर्ण गडफेरी करण्यासाठी आपल्याला दोन तासांपेक्षा जास्त वेळ लागतो.</p>
                </div>
                
                <div class="col-md-12">
                	
                    <p class="page-contact">
                    	<a href="javascript:void(0);"><i class="fa fa-envelope-o" aria-hidden="true"></i> info@domainname.com</a> |
                        <a href="javascript:void(0);"><i class="fa fa-phone" aria-hidden="true"></i> 0२४२४ / २५७०१३</a>
                    </p>
                </div>
            </div>
        </div>
        
        <div id="aajobagad">
        <h3 class="page-header-inner"> आजोबागड </h3>
            <div class="row">
            	<div class="col-md-6"><%= image_tag("bhandardara01.jpg", style: 'width:100%;')%></div>
                <div class="col-md-6">
               	  <p>बालाघाटाच्या रांगेत रतनगड आणि हरिश्चंद्रगड यांच्या मधोमध अगदी कडेला असलेला 'अजापर्वत' उर्फ 'आजोबाचा डोंगर' एखाद्या पुराण पुरुषाप्रमाणे भासतो. घनदाट झाडाझुडुपांनी नटलेला हा आजोबाचा गड गिर्यारोहकांसाठी एक आगळे वेगळे लक्ष्यच ठरला आहे. या गडाची ३००० फूट उभी भिंत ही प्रस्तरोहकांसाठी एक मोठे आव्हानच आहे.</p>
                  <h4 class="sub-heading">इतिहास </h4>
                  <p>गडाचे नाव आजोबा कसे पडले यावर एक पुराणकथा प्रसिद्ध आहे. याच गडावर बसून वाल्मिकी ऋषींनी 'रामायण' हा धर्मग्रंथ लिहिला. याच गडावर सीतामाईने लव आणि कुश यांना जन्म दिला. लव आणि कुश वाल्मिकी ऋषींना 'आजोबा' म्हणत असत. म्हणूनच या गडाचे नाव आजोबाचा गड असे पडले अशी कथा सांगितली जाते. येथे गडावर वाल्मिकि ऋषीचा आश्रम व त्यांची समाधीसुद्धा आहे.</p>
                  
                </div>
                
                <div class="col-md-12">
                	<h4 class="sub-heading">गडावरील पहाण्यासारखी ठिकाणे </h4>
                    <p>पहिली वाट पकडून वाल्मिकी ऋषींच्या आश्रमापाशी साधारणतः अर्ध्या तासात पोहचावे. वाल्मिकी ऋषींच्या आश्रमाजवळून गडाच्या माथ्यावर जाण्यासाठी वाट नसल्याने आपल्याला मुक्काम आश्रमातच करावा लागतो. येथे गडावर रहाण्यासाठी एक कुटी आहे. जवळच झरा आहे. जर मुक्कामाचा कार्यक्रम असेल तर जेवणाची सोय आपल्याला घरूनच करून आणावी लागते. </p>
                    <p>आश्रमाजवळून पुढे धबधब्याच्या वाटेने चढत गेल्यास सुमारे एक ते दीड तासानंतर वर एक गुहा लागते. येथे लवकुशाच्या पादुका खडकात कोरलेल्या आहेत. येथे डावीकडे एक पाण्याचे टाके सुद्धा आहे. या गुहेपर्यंत जाण्यासाठी शिड्या देखील लावल्या आहेत. याच मार्गाने आश्रमात परतावे. अशा प्रकारे मुंबईहून येणार्यांसाठी आजोबाचा गड एक निसर्गरम्य अशी दुर्गयात्राच ठरते. गडाच्या माथ्यावर दोन ते तीन पाण्याची टाकी सोडल्यास पहाण्याजोगे विशेष असे काहीच नाही. अनेक दुर्गवीर रतनगड-आजोबागड-हरिश्चंद्रगड असा ४ ते ५ दिवसांचा ट्रेक करतात.</p>
                    <h4 class="sub-heading">गडावर जाण्याच्या वाटा </h4>
                    <p>मुंबईहून आसनगाव रेल्वे स्थानकावरून : गडावर जाण्याचा सरळ आणि सोपा मार्ग म्हणजे मुंबईहून आसनगाव रेल्वे स्थानकावर यावे. येथून शहापूर या गावी रिक्षेने अथवा एस. टी.ने यावे येथून पहाटेच एस.टीने अथवा जीपने डोळखांब-साकुर्ली मार्गे 'डेणे' या गावी यावे. 'डेणे' गावातून जाताना मध्ये एक पठार लागते. पठारावर तीन वाटा एकत्र येतात. यातील एक बैलगाडीची वाट सरळ वाल्मिकी ऋषींच्या आश्रमापाशी घेऊन जाते. दुसरी वाट कात्राबाईच्या डोंगरात जाते आणि पुढे 'कुमशेत' या गावास जाऊन मिळते. तिसरी वाट मात्र जंगलात जाते. या वाटेने न जाणेच श्रेयस्कर.</p>
                    <p>कल्याण-मुरबाड-माळशेज-डोळखांब यामार्गाने : कल्याण-मुरबाड-माळशेज-डोळखांब यामार्गाने सुद्धा डेणे गावी पोहचता येते.</p>
                    <p>कसारा-घोटी-राजूर-कुमशेत मार्गे : गडवरचा माथा पहाण्यासाठी कसारा-घोटी- राजूर- कुमशेत मार्गे जाता येते.</p>
                    <p>गडावरती रहाण्यासाठी आश्रम आहे. यात २० जणांना रहाता येते. गडावर जेवणाची सोय नसल्याने जेवणाचे साहित्य आपण स्वतःच घेऊन यावे. बारामाही पाण्याचा झरा सतत वाहत असतो त्यामुळे येथे पाण्याची सोय मुबलक प्रमाणात आहे. किल्ल्यावर जाण्यासाठी साधारणपणे १ तासाचा अवधी लागतो. गडावर सापांचे फार वास्तव्य असल्याने योग्य ती काळजी घेणे आवश्यक आहे.</p>
                    <p>मदनगड हा तसा आकाराने छोटा किल्ला आहे. एक पाण्याचे टाके आणि २५ माणसे राहतील एव्हढी एक खोली आहे. किल्ल्यावर पाहण्यासारखे इतर खास काही नाही, पण आजूबाजूच्या परिसरातील अलंग-कुलंग, कळसुबाई, रतनगड, आजोबाचा डोंगर, दूरवर दिसणारा हरिश्चंद्रगड, खाली दिसणारे भंडारदरा धरण आणि आजूबाजूचे विस्तार्ण मैदान हे अंगावर रोमांच आणतात.</p>
                </div>
                <div class="col-md-12">
                	
                    <p class="page-contact">
                    	<a href="javascript:void(0);"><i class="fa fa-envelope-o" aria-hidden="true"></i> info@domainname.com</a> |
                        <a href="javascript:void(0);"><i class="fa fa-phone" aria-hidden="true"></i> 0२४२४ / २५७०१३</a>
                    </p>
                </div>
            </div>
        </div>
        
        <div id="sandan">
        <h3 class="page-header-inner"> सांधण दरी </h3>
            <div class="row">
            	<div class="col-md-6"><%= image_tag("bhandardara01.jpg", style: 'width:100%;')%></div>
                <div class="col-md-6">
               	  <p>निसर्गाची किमया आणि नारळात पाणी असे आपण अनेकदा म्हणत आलोय. किंबहुना प्रत्येक वेळी मी नारळपाणी पिताना एकदा तरी असे म्हणालो आहे. पण असाच निसर्गाचा चमत्कार विराट रुपात अनुभवायचा असेल तर एकच ठिकाण समोर येते. ते म्हणजे सांधण/सांदण दरी. एका अतिप्राचीन जिओग्राफिक फॉल्टलाईन (भौगोलिक प्रस्तरभंग रेषा) यामुळे निर्माण झालेली ही दरी किंवा घळ म्हणजे निसर्गातले एक आश्चर्यच आहे. तिथे पोचण्यासाठी अहमदनगर जिल्ह्यातील भंडारदरा धरणाच्या जलाशयाच्या काठाने साम्रद या गावी जावे लागते. </p>
                  
                </div>
                
                <div class="col-md-12">
                <p>पुण्यावरुन पोचण्यासाठी आळेफाटा-संगमनेर-अकोले-राजूर-शेंडी (भंडारदरा)-उडदावणे-साम्रद असा रस्ता आहे. मुंबईकरांसाठी कल्याण-कसारा घाट-इगतपुरी-घोटी मार्गे शेंडीला पोचता येते. नाशिकहूनही घोटीमार्गे पोचता येईल. हा परिसर सह्याद्रीच्या अनेकविध शिखरांनी भरलेला (भटक्यांसाठी भारलेला) आहे. कळसूबाई, रतनगड, हरिश्चंद्रगड, आजोबा, अलंग-मदन-कुलंग ही ट्रेकर्सची आव्हाने याच परिसरात आहेत.</p>
                	<p>एकदा भंडारदरा धरणाचे गाव शेंडीला पोचले की डाव्या हाताला जाणारा घाटघरचा रस्ता पकडून एमटीडीसीच्या समोरुन पुढे निघाले की "कळसूबाई-हरिश्चंद्रगड अभयारण्य" असा फलक आपले स्वागत करतो. एकंदरच हा अकोले-राजूर-भंडारदरा हा परिसर बिबट्यांसाठी प्रसिद्ध आहेच. अर्ध्या-पाऊण तासातच गाडी उडदावणे गावाशी येते.</p>
                    <p>उजवीकडे अलंग-मदन-कुलंगची अक्राळविक्राळ रांग लक्ष वेधून घेते. पावसाळ्याच्या आसपास ढग उगाचच त्या उत्तुंग कड्याशी लगट करत असतात. त्यापुढे रस्ता थोडा खराब आहे आणि घाटघर धरणाच्या दिशेला वाटचाल करुन अगदी धरणाच्या भिंतीशी लगट करुन रस्ता पुढे साम्रद फाट्यावरुन आतमध्ये वळतो. अगदी गावाच्या शाळेजवळ गाडी पोचते. तिथे गाडी पार्क करुन कुणीतरी वाटाड्या घेऊन घळीकडे निघावे. गावापासून मागे अगदी माळरानातून एक पायवाट सांधनात जाते. डावीकडे वर रतनगड आणि त्याचा खुट्टा लक्षवेधी आहे. मागे अलंग-मदन-कुलंग- कळसूबाई ही सह्याद्रीची सर्वांगसुंदर रांग आपल्याला कवेत घेतल्याचा भास करुन देते. साधारण अर्ध्या तासाची ही वाट मन अगदी प्रसन्न करुन टाकते. अगदी घळीच्या मुखाशी येइपर्यंत इथे काही असेल याची कल्पनाच येत नाही. मुख अतिशय दाट झाडीत झाकले गेले आहे. फक्त एक-दोन रुळलेल्या पायवाटा मुखाशी जातात. </p>
                    <p>मुखाजवळच उजव्या हाताला पाणवठा आहे. नैसर्गिकपणे डोंदरातून झिरपणारे थंडगार नितळ पाणी. माणसे आणि
जनावरांसाठी दगड रचून वेगळी सोय केलेली दिसते. ते अमृतासमान पाणी पिऊन आतापर्यंतचा थकवा कुठल्याकुठे पळून जाईल. एक टप्पा उतरुन खाली आले आणि समोर जे काही दिसते त्याचे वर्णन शब्दांत शक्यच नाही. अतिशय अरुंद घळ, कधी आठ-दहा फूट तर कधी अगदीच जेमतेम एक माणूस जाईल एवढी तीन फूट रुंदी आणि दोन्ही बाजूंना अंगावर येणारा दगडी कमीतकमी दोनशे आणि जास्तीत जास्त चारशे फूट उंचीचा पाषाणकडा. मनावर दडपण येणे साहजिकच. यालाच थ्रिल म्हणत असावेत बहुतेक. आतपर्यंत ऊन पोचणे शक्यच नाही, अतिशय थंडगार वातावरण. एकदोन ठिकाणी उन्हाळ्यातही गुढगाभर पाणी असते. तेही एकदम थंडगार गोठवणारे. त्याच घळीतून खाली उतरत अगदी शेवटच्या मुखाशी जाता येते. अंदाजे घळीची लांबी एक किलोमीटर आहे. त्यानंतर समोर जो काही विराट कोकणकड्याचा भाग दिसतो त्यासमोर आपले आयुष्यच एकदम क:पदार्थ आहे असे वाटू लागते. एकदम हजार-दीडहजार फुटांचा ड्रॉप आणि समोर करुळ घाटाचा कडा. पावसाळ्यात उत्साहाने फुसांडणारे मुबलक धबधबे आणि त्यांची चंदेरी नक्षी.
</p>
<p>असा हा विराट सह्याद्री डोळ्यांत साठवूनच परत फिरावे, आपापला सगळा कचरा आपल्या बरोबर घेऊनच. परत येताना पुन्हा घाटघर-उडदावणे मार्गे न जाता रतनवाडी मार्गे भंडारदरा जलाशयाला प्रदक्षिणा घालून शेंडीला पोचावे. वाटेत रतनवाडीच्या अमृतेश्वराचे अप्रतिम हेमाडपंथी मंदिर चुकवू नये असेच आहे.</p>
                </div>
                <div class="col-md-12">
                	
                    <p class="page-contact">
                    	<a href="javascript:void(0);"><i class="fa fa-envelope-o" aria-hidden="true"></i> info@domainname.com</a> |
                        <a href="javascript:void(0);"><i class="fa fa-phone" aria-hidden="true"></i> 0२४२४ / २५७०१३</a>
                    </p>
                </div>
            </div>
        </div>
        
        <div id="alanggad">
        <h3 class="page-header-inner"> अलंग गड </h3>
            <div class="row">
            	<div class="col-md-6"><%= image_tag("bhandardara01.jpg", style: 'width:100%;')%></div>
                <div class="col-md-6">
               	  <p>अहमदनगर जिल्ह्यातील अकोले तालुक्यातील अत्यंत अवघड असा हा किल्ला आहे. घनदाट जंगल व विरळ वस्तीमुळे हा परिसर जरा त्रासदायक आहे. गडावर जाण्याच्या अवघड वाटा, भरपूर पाऊस यामुळे हा किल्ला तसा उपेक्षितच आहे. कळसूबाईच्या रांगेत असणारे अलंग, मदन आणि कुलंग हे तीन किल्ले लक्षवेधक आहेत.</p>
                  
                </div>
                
                
                <div class="col-md-12">
                	<h4 class="sub-heading">गडावरील ठिकाणे</h4>
                    <p>किल्ल्याचा माथा म्हणजे एक प्रशस्त पठारच आहे. किल्ल्यावर राहण्यासाठी दोन गुहा आहेत. पाण्याची ११ टाकी आहेत. किल्ल्यावर इमारतीचे काही अवशेष व एक छोटेसे मंदिर आहे. पूर्वेला कळसूबाई , औंढचा किल्ला,</p>
                    <p>पट्टागड, बितनगड , उत्तरेला हरिहर , त्र्यंबकगड , अंजनेरी तर दक्षिणेला हरिश्चंद्रगड , आजोबागड , खुट्टा सुळका,
रतनगड , कात्राबाई चा डोंगर हा परिसर दिसतो. किल्ल्याचा माथा फिरण्यास ४ तास पुरतात.
</p>
<h4 class="sub-heading">गडावर जाण्याच्या वाटा</h4>
<p><strong>घाटघर मार्गे</strong>: किल्ल्यावर जाण्यासाठी ही दुसरी वाट आहे. पहिली आंबेवाडी मार्गे आहे.</p>
<p><strong>घोटी </strong>- भंडारदरा मार्गे घाटघरला जावे. तेथून अडीच तासात किल्ल्याच्या तिसर्या घळीत ठेवलेल्या लाकडी बेचक्यापाशी पोहचतो. या बेचक्यातून थोडे वर गेल्यावर सोपे प्रस्तरारोहण करावे लागले. पुढे थोडी सपाटी पार केल्यानंतर डावीकडे कड्यालगत जाणारी वाट पकडावी. १० - १५ मि. आपण किल्ल्यावरील गुहेत पोहचतो. खिंडीतून डावीकडील वाटेने पुढे गेल्यावर काही पायऱ्या लागतात. या पायऱ्या चढून गेल्यावर ८० - ९० फुटाचा तुटलेला एक कडा लागतो. या कड्यावर प्रस्तरारोहणाचे साहित्य वापरून किल्ल्यावर प्रवेश करता येतो. मात्र, प्रस्तरारोहणाचे तंत्र अवगत असल्याशिवाय या वाटेने जाण्याचे धाडस करु नये. या वाटेने किल्ला गाठण्यास ६ तास लागतात.</p>
                    <p class="page-contact">
                    	<a href="javascript:void(0);"><i class="fa fa-envelope-o" aria-hidden="true"></i> info@domainname.com</a> |
                        <a href="javascript:void(0);"><i class="fa fa-phone" aria-hidden="true"></i> 0२४२४ / २५७०१३</a>
                    </p>
                </div>
            </div>
        </div>
        
        <div id="kulang">
        <h3 class="page-header-inner"> कुलंग</h3>
            <div class="row">
            	<div class="col-md-6"><%= image_tag("bhandardara01.jpg", style: 'width:100%;')%></div>
                <div class="col-md-6">
               	  <h4 class="sub-heading">भौगोलिक स्थान</h4>
                  <p>मुंबई -आग्रा राष्ट्रीय महामार्ग कसारा घाटातून जातो. या महामार्गावर इगतपुरी गाव आहे. इगतपुरी हे तालुक्याचे गाव असून ते मुंबई- नाशिक या रेल्वे मार्गावर आहे. इगतपूरीच्या दक्षिणेला सह्याद्रीची एक कळसुबाईची रांग ही बेलाग रांग आहे. या पुर्व पश्चिम रांगेवर कळसूबाईचे शिखर आहे. कळसूबाई हे सह्याद्रीमधील सर्वोच्च शिखर आहे. त्यामुळे या रांगेला कळसूबाईची रांग म्हणून ओळखले जाते.या कळसूबाई शिखराच्या पश्चिमेला कुलंग किल्ला आहे. या रांगेची सुरुवात कुलंगगडापासून होते.</p>
                  
                  
                </div>
                
                
                <div class="col-md-12">
                	<h4 class="sub-heading">कसे जाल ?</h4>
                  <p>कुलंगगडाच्या उत्तर पायथ्याला कुरंगवाडी नावाचे गाव आहे. इगतपुरीहून पिंपरी सद्रुधिन मार्गे येथे पोहोचता येते. तसेच कळसूबाईच्या पायथ्याच्या वारी घाटातून खाली उतरल्यावर इंदोरे मार्गे आंबेवाडीला पोहोचता येते. आंबेवाडीकडूनही कुलंगगडाचा पायथा गाठता येतो.</p>
                  <p>कळसूबाईची रांग इतर रांगांपेक्षा तुलनेत उंच असून ती कातळकड्यांनी घेरलेली आहे. त्यामुळे या रांगेतील</p>
                  <p>किल्ले दुर्गम असून यांची चढाई चढणार्याचा कस काढणारी आहे. स .स. पासून १४७० मीटर उंचीच्या कुलंगगडावर पोहोचण्यासाठी प्रथम खालच्या पदरात पोहोचावे लागते. पदरात पोहोचण्यासाठी कुरंगवाडीतून दोन तासांची वाटचाल करावी लागते. पदरात आल्यावर मदनगड व त्या शेजारील सुळके आणि कुलंगचा कातळकडा मनात धडकी भरवतो.</p>
                  <p>समोर कुलंगचा कातळकडा ठेवल्यास डावीकडे मदनगड दिसतो. तेव्हा कुलंगच्या उजव्याबाजुने उतरणारा डोंगरदांड आपल्याला दिसतो. या डोंगरदांडावरुनच कुलंगची चढाई आहे. या दमछाक करणार्या वाटेने चढाई केल्यावर आपण कुलंगच्या कड्याला भिडतो. कड्याला कातळकोरीव पायऱ्या आहेत. या पायऱ्या चढून आपण दारातून गडप्रवेश करतो. गडाचा माथा अतिशय विस्तीर्ण आहे.</p>
                  <h4 class="sub-heading">गडावरील पाहण्यासारखी ठिकाणे</h4>
                  <p>शिवाजीचा पेशवा मोरोपंत ह्याने हा किल्ला सन १६७२ साली जिंकुन घेतला. मुघलांसाठी हा मोठा धक्का होता. सन १८१८ च्या शेवटच्या इंग्रज मराठा युद्धानंतर ह्या किल्ल्यावर चार मोठ्या तोफा असल्याचे काही उल्लेख सापडतात. फत्तेलश्कर, रामप्रसाद, शिवप्रसाद व मार्कंडेय अशी त्यांची नावे होती. त्यातील शेवटची तोफ इंग्रजांनी वितळवल्याचे कळते पण इतर तीन तोफांचे काय झाले ते आज आपल्याला ज्ञात नाही.</p>
                  <p>शेवटच्या युद्धानंतर महाराष्ट्रातील इतर बऱ्याच किल्ल्यांप्रमाणे हा किल्लाही बेवारस अवस्थेतच आहे. त्याच्या शेजारचे दोन किल्ले मोरा व हरगडही त्याच स्थितीत आहेत. वर जायच्या वाटा बंद झाल्यामुळे हरगडावर जाणेही अवघड झाले आहे.</p>
                  <p> <strong>गडावरील पाण्याची सोय </strong>कुलंगगडावर पाण्याची टाकी मुबलक असून त्यातले पाणी स्वच्छ व पिण्यायोग्य आहे. ओळीने असणारी पाण्याची टाकी पाहून आपण कुलंगच्या पुर्व कड्यावर येतो. या पाताळवेरी कड्यावरुन कळसूबाई रांगेचे अप्रतिम दृष्य दिसते.</p>
                    <p class="page-contact">
                    	<a href="javascript:void(0);"><i class="fa fa-envelope-o" aria-hidden="true"></i> info@domainname.com</a> |
                        <a href="javascript:void(0);"><i class="fa fa-phone" aria-hidden="true"></i> 0२४२४ / २५७०१३</a>
                    </p>
                </div>
            </div>
        </div>
        
        
        
        
        
        
        
        
        
        
        </div>
    </div>
 </div>
  </section>

 <script>
    wow = new WOW(
      {
        animateClass: 'animated',
        offset:       100,
        callback:     function(box) {
          console.log("WOW: animating <" + box.tagName.toLowerCase() + ">")
        }
      }
    );
    wow.init();
  </script>
  <script language="javascript">
	$(document).ready(function() {
		$("#shende, #kalsubai, #harishchandragad, #vilson, #randha, #ratanwadi, #ghatghar, #ratangad, #aajobagad, #sandan, #alanggad, #kulang").hide();
		$("#m1_click").click(function(){
		$("#m1_click").addClass("active");
		$("#m2_click, #m3_click, #m4_click, #m5_click, #m6_click, #m7_click, #m8_click, #m9_click, #m10_click, #m11_click, #m12_click, #m13_click").removeClass("active");		
    	$("#bhandardara").fadeIn();
		$("#shende, #kalsubai, #harishchandragad, #vilson, #randha, #ratanwadi, #ghatghar, #ratangad, #aajobagad, #sandan, #alanggad, #kulang").fadeOut();
		
		});
		
		$("#m2_click").click(function(){
		$("#m2_click").addClass("active");
		$("#m1_click, #m3_click, #m4_click, #m5_click, #m6_click, #m7_click, #m8_click, #m9_click, #m10_click, #m11_click, #m12_click, #m13_click").removeClass("active");
		$("#shende").fadeIn();
		$("#bhandardara, #kalsubai, #harishchandragad, #vilson, #randha, #ratanwadi, #ghatghar, #ratangad, #aajobagad, #sandan, #alanggad, #kulang").fadeOut();	
		});
		
		$("#m3_click").click(function(){
		$("#m3_click").addClass("active");
		$("#m2_click, #m1_click, #m4_click, #m5_click, #m6_click, #m7_click, #m8_click, #m9_click, #m10_click, #m11_click, #m12_click, #m13_click").removeClass("active");
		$("#kalsubai").fadeIn();	
		$("#bhandardara, #shende, #harishchandragad, #vilson, #randha, #ratanwadi, #ghatghar, #ratangad, #aajobagad, #sandan, #alanggad, #kulang").fadeOut();	
				
		});
		
		$("#m4_click").click(function(){
		$("#m4_click").addClass("active");
		$("#m2_click, #m1_click, #m3_click, #m5_click, #m6_click, #m7_click, #m8_click, #m9_click, #m10_click, #m11_click, #m12_click, #m13_click").removeClass("active");
		$("#harishchandragad").fadeIn();
		$("#bhandardara, #shende, #kalsubai, #vilson, #randha, #ratanwadi, #ghatghar, #ratangad, #aajobagad, #sandan, #alanggad, #kulang").fadeOut();				
		});
		
		$("#m5_click").click(function(){
		$("#m5_click").addClass("active");
		$("#m2_click, #m1_click, #m4_click, #m3_click, #m6_click, #m7_click, #m8_click, #m9_click, #m10_click, #m11_click, #m12_click, #m13_click").removeClass("active");
		$("#vilson").fadeIn();	
		$("#bhandardara, #shende, #kalsubai, #harishchandragad, #randha, #ratanwadi, #ghatghar, #ratangad, #aajobagad, #sandan, #alanggad, #kulang").fadeOut();				
		});
		
		$("#m6_click").click(function(){
		$("#m6_click").addClass("active");
		$("#m2_click, #m1_click, #m4_click, #m3_click, #m5_click, #m7_click, #m8_click, #m9_click, #m10_click, #m11_click, #m12_click, #m13_click").removeClass("active");
		$("#randha").fadeIn();
		$("#bhandardara, #shende, #kalsubai, #harishchandragad, #vilson, #ratanwadi, #ghatghar, #ratangad, #aajobagad, #sandan, #alanggad, #kulang").fadeOut();				
		});
		
		$("#m7_click").click(function(){
		$("#m7_click").addClass("active");
		$("#m2_click, #m1_click, #m4_click, #m3_click, #m6_click, #m5_click, #m8_click, #m9_click, #m10_click, #m11_click, #m12_click, #m13_click").removeClass("active");	
		$("#ratanwadi").fadeIn();	
		$("#bhandardara, #shende, #kalsubai, #harishchandragad, #vilson, #randha, #ghatghar, #ratangad, #aajobagad, #sandan, #alanggad, #kulang").fadeOut();			
		});
		
		$("#m8_click").click(function(){
		$("#m8_click").addClass("active");
		$("#m2_click, #m1_click, #m4_click, #m3_click, #m6_click, #m7_click, #m5_click, #m9_click, #m10_click, #m11_click, #m12_click, #m13_click").removeClass("active");
		$("#ghatghar").fadeIn();	
		$("#bhandardara, #shende, #kalsubai, #harishchandragad, #vilson, #randha, #ratanwadi, #ratangad, #aajobagad, #sandan, #alanggad, #kulang").fadeOut();				
		});
		
		$("#m9_click").click(function(){
		$("#m9_click").addClass("active");
		$("#m2_click, #m1_click, #m4_click, #m3_click, #m6_click, #m7_click, #m5_click, #m8_click, #m10_click, #m11_click, #m12_click, #m13_click").removeClass("active");
		$("#ratangad").fadeIn();
		$("#bhandardara, #shende, #kalsubai, #harishchandragad, #vilson, #randha, #ratanwadi, #ghatghar, #aajobagad, #sandan, #alanggad, #kulang").fadeOut();				
		});
		
		$("#m10_click").click(function(){
		$("#m10_click").addClass("active");
		$("#m2_click, #m1_click, #m4_click, #m3_click, #m6_click, #m7_click, #m5_click, #m9_click, #m8_click, #m11_click, #m12_click, #m13_click").removeClass("active");
		$("#aajobagad").fadeIn();
		$("#bhandardara, #shende, #kalsubai, #harishchandragad, #vilson, #randha, #ratanwadi, #ghatghar, #ratangad, #sandan, #alanggad, #kulang").fadeOut();					
		});
		
		$("#m11_click").click(function(){
		$("#m11_click").addClass("active");
		$("#m2_click, #m1_click, #m4_click, #m3_click, #m6_click, #m7_click, #m5_click, #m9_click, #m10_click, #m8_click, #m12_click, #m13_click").removeClass("active");
		
		$("#sandan").fadeIn();	
		$("#bhandardara, #shende, #kalsubai, #harishchandragad, #vilson, #randha, #ratanwadi, #ghatghar, #ratangad, #aajobagad, #alanggad, #kulang").fadeOut();				
		});
		
		$("#m12_click").click(function(){
		$("#m12_click").addClass("active");
		$("#m2_click, #m1_click, #m4_click, #m3_click, #m6_click, #m7_click, #m5_click, #m9_click, #m10_click, #m11_click, #m8_click, #m13_click").removeClass("active");
		$("#alanggad").fadeIn();	
		$("#bhandardara, #shende, #kalsubai, #harishchandragad, #vilson, #randha, #ratanwadi, #ghatghar, #ratangad, #aajobagad, #sandan, #kulang").fadeOut();				
		});
		
		$("#m13_click").click(function(){
		$("#m13_click").addClass("active");
		$("#m2_click, #m1_click, #m4_click, #m3_click, #m6_click, #m7_click, #m5_click, #m9_click, #m10_click, #m11_click, #m12_click, #m8_click").removeClass("active");
		$("#kulang").fadeIn();
		$("#bhandardara, #shende, #kalsubai, #harishchandragad, #vilson, #randha, #ratanwadi, #ghatghar, #ratangad, #aajobagad, #sandan, #alanggad").fadeOut();				
		});

});
    	
    
    </script>