<!-- Title Image-->
<section>
    <div class="container-fluid eco-tourism">
        <div class="container">
            <h1 class="page-title">नांदूर मधमेश्वर वन्यजीव <br>अभयारण्य</br> </h1>
        </div>
    </div>
</section>
<!-- Title Image end-->



<!-- About and Important links-->
<section class="testimonials">
    <div class="container font-marathi">
        <div class="row">
            <div class="col-md-4 margin-topBot10">
                <div class="important-link">
                    <div class="clearfix"></div>
                    <ul class="sidebar-menu">
                        <li id="m1_click" class="active"><a href="javascript:void(0);">नांदूर मधमेश्वर </a></li>
                        <li id="m2_click"><a href="javascript:void(0);">महत्त्व</a></li>
                        <li id="m3_click"><a href="javascript:void(0);">स्थान आणि प्रवेश </a></li>
                        <li id="m4_click"><a href="javascript:void(0);">जैवविविधता</a></li>
                        <li id="m5_click"><a href="javascript:void(0);">इको-पर्यटन</a></li>
                        <li id="m6_click"><a href="javascript:void(0);">मंदिर पर्यटन </a></li>
                        <li id="m7_click"><a href="javascript:void(0);">अभ्यागत माहिती</a></li>
                        <li id="m8_click"><a href="javascript:void(0);">अडकणे </a></li>
                    </ul>
                </div>
                <div class="important-link col-md-12 margin-topBot10">
                    <h2>पुढील कार्यक्रम</h2>
                    <div><%= image_tag "events.png", style: 'width:100%;' %></div>
                </div>
            </div>
            <div class="col-md-8 about-text">
                <div id="bhandardara">

                    <div class="row">
                        <h4 class="col-md-12 sub-heading">पाणथळ जागा</h4>
                        <div class="col-md-6"><%= image_tag "bhandardara01.jpg", style: 'width:100%;' %></div>
                        <div class="col-md-6">
                            <p>औरंगाबाद आणि अहमदनगर जिल्ह्यांचा पूर्वीचा पाणी सतत टंचाईचा सामना होत आहे. या परिस्थितीवर मात करण्यासाठी तत्कालीन ब्रिटिश सरकारने 1907-1913 साली नांदगाव येथे दारणा नदी, नांदूर मधमेश्वर येथे गोदावरी आणि कादवा नद्यांचा संगम करून गोदावरी नहर प्रणाली नावाची योजना तयार केली होती.</p>

                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-6">
                            <p>नळ आणि जड पदार्थ भरपूर पाणी प्रवाह चालते आणि त्याचबरोबर नांदूर मधमेश्वर जलाशय आणि आजूबाजूच्या भागात मुख्यतः शेतजमीन जमिनी आहेत. दरवर्षी गाळ आणि सेंद्रीय पदार्थांची पुनरावृत्ती होणे म्हणजे द्वीपे आणि अनेक उथळ पाण्याचे तलाव तयार होणे. हे जैविक परिस्थिती समृद्ध आणि वनस्पती आणि विशिष्ट प्रदेशातील किंवा कालखंडातील प्राणिजात स्थिर करण्यासाठी परिणत आहे मनुष्य अशा प्रकारे बनविला जलाशयानी ओलसर वस्ती मध्ये वळले, हजारो पंख असलेला अभ्यागतांना दर हिवाळ्यात आकर्षित केले.</p>



                        </div>

                        <div class="col-md-6"><%= image_tag "bhandardara02.jpg", style: 'width:100%;' %></div>
                        <h4 class="col-md-12 sub-heading">अभयारण्य</h4>
                        <div class="col-md-12">

                            <p>डॉ. सैलीम अली नांदूर मधमेश्वर यांच्या भेटी दरम्यान त्यांनी 1941 सालापासून या जागेला ओळखले होते आणि त्यांनी हे मत मांडले की, या पाणथळ जागांच्या महाराष्ट्रातील 'भरतपूर' होण्याची क्षमता आहे.</p>
                            <p>या आर्द्रभूमिचे सर्वेक्षण 1975 मध्ये जागतिक वन्यजीव निधी आणि बॉम्बे नैसर्गिक इतिहास सोसायटी या संस्थेने केले होते. या संरक्षणाची गरज आणि क्षेत्राबद्दलची वास्तविकता तेव्हा सुरु झाली जेव्हा निसर्गाच्या प्रेमींनी वृत्तपत्राद्वारे आवाज उठवण्यास सुरुवात केली. 1982.83 मधील पक्षी निसर्ग प्रेमींची मागणी आणि परिसराच्या पर्यावरणीय महत्त्वाचे मूल्यांकन केल्यावर 1983 साली महाराष्ट्र शासनाने बंद क्षेत्र म्हणून घोषित केले आणि नंतर वन्यजीव संरक्षण (संरक्षण) कलम 18 च्या तरतुदीनुसार अभयारण्य घोषित केले. 1972 मध्ये दि. 25.02.1986 च्या अधिसूचनेनुसार नांदूर मधमेश्वर अभयारण्य म्हणजे नाशिक जिल्ह्यातील निफाड तालुक्यातील 11 गावे</p>
                            <ul style="list-style-type:decimal; font-weight:bold;">
                                <li>नांदूर मधमेश्वर</li>
                                <li>कुरुडगाव</li>
                                <li>चापडगाव</li>
                                <li>खानगाव थडी</li>
                                <li>दिंडोरी</li>
                                <li>काथरगाव</li>
                                <li>करंजगाव</li>
                                <li>कोठुरे</li>
                                <li>पिंपळस</li>
                                <li>मांजरगाव</li>
                                <li>शिवरे</li>
                            </ul>
                            एकूण क्षेत्रफळ 10012.73 हेक्टर आहे. 1994 साली या कायद्याच्या कलम 19 ते 25 च्या दरम्यान (दोन्ही समाविष्ट) जिल्हाधिकारीद्वारे वीज किंवा कार्य करण्याची व्यायामा करण्यासाठी वन्यजीव (संरक्षण) कायदा, 1972 च्या कलम 26 अंतर्गत चौकशी अधिकारी म्हणून उप-विभागीय अधिकारी (निफाड) नियुक्ती केली आहे. त्यानुसार अभ्यासाच्या अधिसूचनेत 1176.457 हेक्टर अभयारण्याला अंतिम अधिसूचनेमध्ये समाविष्ट करण्याची शिफारस केली आहे. यामध्ये 971.3 9 हेक्टर आहे. सिंचन विभाग, 150.00 हेक्टर महसुल विभागाचे क्षेत्र आणि 55.067 हेक्टर जंगल खात्याचे क्षेत्र. </p>


                        </div>

                        <div class="col-md-12">
                            <h4 class=" sub-heading">भौगोलिक माहिती</h4>
                            <p>अभयारण्य स्थलाकृतिक स्थरावर आहे. समुद्रसपाटीपासून किमान उंची 512.50 मीटर इतकी आहे तर समुद्र पातळीपेक्षा उंची 536 मीटर आहे.</p>
                        </div>
                        <div class="col-md-12">
                            <h4 class="sub-heading">हवामान</h4>
                              <p> कोपेन-गेयगर हवामान वर्गीकरणानुसार, अभयारण्य हे हवामानाचे उप-उष्णकटिबंधातील स्टेप (बी.ए.एस.) प्रकार आहेत. सरासरी तापमान 25.3 oC आहे आणि 514 मिमी वर्षातील सरासरी दरवर्षी येते.</p>
                        </div>
                        <div class="col-md-12">
                            <p class="page-contact">
                                <a href="javascript:void(0);"><i class="fa fa-envelope-o" aria-hidden="true"></i> info@domainname.com</a> |
                                <a href="javascript:void(0);"><i class="fa fa-phone" aria-hidden="true"></i> 02424 / 257013</a>
                            </p>
                        </div>
                    </div>
                </div>

                <div id="shende">
                    <h3 class="page-header-inner">स्वागतार्ह</h3>
                    <div class="row">
                        <h4 class="col-md-12 sub-heading">जैविक</h4>
                        <div class="col-md-6"><%= image_tag "bhandardara01.jpg", style: 'width:100%;' %></div>
                        <div class="col-md-6">
                            <p>नांदूर मधमेश्वर पाणलोट जलाचा पाईक अप वीर बनवला जातो. कादवा आणि गोदावरी नदीच्या संगमाच्या अगदीच आधी बांधकामाची उभारणी केली गेली आहे. जलाशयात साठवलेले पाणी, सिंचन उद्दीष्टांसाठी दूरच्या स्थानांपासून ते नळदुस्यांमधून सोडले जाते. गेल्या 75 वर्षांत मूळ नदीच्या दिशेने फेरबदल केलेल्या गाईचे प्रमाण कमी झाले आहे. वारस आणि खाली उंचावरील फरक धक्कादायक आहे. नदीचे मूळ स्वरूप जमिनीच्या खाली स्पष्ट दिसत आहे.</p>

                        </div>
                        <div class="col-md-12">
                            <p>ही आर्द्रता मुळात तयार होण्यामागचे कारण आहे. मंजूरगांव जवळच्या कायम बेटाव्यतिरिक्त असंख्य छोटे बेटे स्थापन करण्यात आली आहेत. नदीकिनार्याजवळ अनेक उथळ पाण्याचे थेंबही तयार करण्यात आले आहेत. कादवा आणि गोदावरी नदीचे मुख्य ओहोळ खोल आहे. उथळ पाण्याचे तळे एकपेशीय वनस्पतींमध्ये भरपूर असतात. अंशतः पाण्याखाली क्षेत्र जलीय वनस्पतींचे जाड वाढ आहे. मार्श हा मुख्यत्वे रीड्सचा चांगला विकास आहे. पाणी कंदयुक्त प्राण्यांचे सिंहाचे लक्षणीय आक्रमण केले आहे. पार्थेनियमची वाढ देखील वाढत आहे. शिंदे (1 9 86) 536 प्रजातीच्या वनस्पतींची यादी केली, नामावली आहेत इपोमा फिट्युलोसा, इपोमेका एक्वाटिका, हायड्रोफिला अरुलिकुलता, फिलीनोडाइफ्लोरा, पॉलीगोनम ग्लब्रम, रमॅक्स डिटॅटस, हायड्रिला व्हिरिकिल्टाटा, एल्कोर्निया प्रजाती, टाईफा प्रजाती, पोंटोगोगेटन प्रजाती, पास्स्लेमिडम प्रजाती. वृक्ष प्रजाती फिकस, आंबा, ताम्रिक, नीम, अॅकसिअस इ. आहेत.</p>
                            <p>नांदूर मधमेश्वर पाणथळ जागांची भौगोलिकदृष्ट्या श्रीमंत आहे आणि विविध प्रकारचे वनस्पती आणि प्राणिमात्रांसाठी हे निवासस्थान आहे. पक्ष्यांची स्थलांतर हंगाम ऑक्टोबर ते नोव्हेंबर ते फेब्रुवारी-मार्च दरवर्षी असते. या हंगामात क्षेत्र दूरवरच्या स्थानांवरून येणारे बरेच प्रवासी पक्षांना आकर्षित करते. प्रमुख प्रवासी प्रजाती आहेत बदक, स्टॉर्क, इबसेज, क्रेन, फ्लेमिंगोस आणि वीडर. स्थलांतरण हंगामात नांदूर मधमेश्वरर येथील दृक शृंगार आश्चर्यजनक आहेत कारण कोणीतरी पक्ष्यांची विविध प्रजाती एकत्र ठेवू शकतो.</p>
                            <p>काळा नॅपर्स हरे, जॅक्ल, सीव्हट मांजर, जंगल मांजर, मुंगूस आणि सापांच्या अनेक जाती यासारख्या प्राण्यांना अनेकदा लोक भेटलेले दिसतात. नांदूर मधमेश्वरचे ओलेवंड भागात वूल्फ, मैगोओस, पाल आणि बिबट्या इत्यादी ठिकाणे आहेत.</p>
                            <h4 class="sub-heading">आर्थिक</h4>
                            <p>नांदूर मधमेश्वर ह्यांच्या बांधकामापूर्वी हे क्षेत्र अतिशय कोरडी होते. पण पिकअप बांधणीच्या बांधणीमुळे, शेजारच्या शेतीसाठी सिंचन निर्विवाद आहे. ह्यामुळे सिंचनखालील क्षेत्र वाढण्यास मदत झाली आणि त्यामुळे प्रदेशाची अर्थव्यवस्था बदलली. मासेमारी हा आणखी एक प्रमुख आर्थिक क्रियाकलाप आहे ज्याचा परिणाम जलाशय निर्मितीमुळे झाला आहे. स्थानिक अर्थव्यवस्थेच्या समृद्धीची आणखी एक कृती म्हणजे गॅल्पा किंवा जलसाठा कमी होण्याआधी जलाशय खर्चावर हंगामी पीक घेणे. अशा प्रकारे, नांदूर मधमेश्वर हे वासरवडा या क्षेत्रातील प्रमुख आर्थिक महत्त्व पाहू शकतो.</p>
                            <h4 class="sub-heading">मनोरंजक</h4>
                            <p>नांदूर मधमेश्वर जलाशयकडे उत्तम मनोरंजन व सौंदर्याचा मूल्य आहे. विशेषत: सूर्योदय आणि सूर्यास्त येथील नैसर्गिक सुंदरता अद्वितीय आहे. पीक हंगामात हजारो स्थलांतरित आणि स्थानिक पक्ष्यांच्या कळप, उदा. ऑक्टोबर आणि मार्च दरम्यान आकर्षक दृष्टी दिसते. या कालावधीत संपूर्ण जलाशय रंगीत एव्हियन प्राण्यांना व्यापलेला आहे. जरी तलावाच्या बाजूने चालत आनंद घेणे योग्य आहे</p>
                            <h4 class="sub-heading">वैज्ञानिक</h4>
                            <p>ही पाणथळ जागा नजरेत इतर पाणथळ जागांबरोबर आंतरविकिदुवे असणारी एक जटिल पर्यावरण व्यवस्था आहे. गोदावरी व कादवा नदीचे मुख्य जलप्रदेश, छोटे बेटे, उथळ पाण्याचा तलाव, लागवडीत लागवड केलेल्या शेतात आणि गावांमुळे वेटल्ँडची एक अनोखी कॉम्प्लेक्स चेन तयार होते. म्हणूनच फ्लोरिस्टिक अभ्यास, माती अभ्यास, अधिवास मूल्यांकन आणि सुधारणा, आक्रमक प्रजाती आणि त्यांचे परिणाम, इकोटिरीझम आणि लोक सहभाग इत्यादी विषयांवरील संशोधनासाठी एक व्याप्ती आहे.</p>
                            <h4 class="sub-heading">शैक्षणिक</h4>
                            <p>NMS च्या माध्यमातून संवर्धन, शिक्षण आणि जनजागृतीची व्याप्ती प्रचंड आहे. विविध निवासी पक्षांची संरक्षण जीवशास्त्र, प्रवासी पध्दती, प्रवाशांचे वास्तव्य असलेल्या विविध प्रजातींचे सवयी आणि अधिवास, पर्यावरणातील विविध घटकांमधील विशेष पर्यावरणीय संख्या आणि आंतरसंबंध हे पर्यावरणीय अभ्यासाचे अनेक पैलूंचे स्रोत आहेत.</p>

                            <h4 class="sub-heading">धार्मिक</h4>
                            <p>नांदूर मधमेश्वर हौद यांच्या परिसरात धर्माचे मंदिर आहे, जसे बांधापेक्षा माधमेश्वारा, करंजगाव येथील सिद्धेश्वर, खंगन थदी येथे संगमेश्वर आणि नवासिया गणपती, नांदूर मधमेश्वरचे मृग्वदेश्वर. दरवर्षी पिलीग्रिम आणि पर्यटक या मंदिरास भेट देत आहेत.</p>

                            <h4></h4>
                        </div>

                        <div class="col-md-12">

                            <p class="page-contact">
                                <a href="javascript:void(0);"><i class="fa fa-envelope-o" aria-hidden="true"></i> info@domainname.com</a> |
                                <a href="javascript:void(0);"><i class="fa fa-phone" aria-hidden="true"></i> 02424 / 257013</a>
                            </p>
                        </div>
                    </div>
                </div>

                <div id="kalsubai">
                    <h3 class="page-header-inner"> स्थान आणि प्रवेश </h3>
                    <div class="row">
                        <div class="col-md-12"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3748.981089076423!2d74.13447571468879!3d20.00930838655932!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bddca17ef0aeaed%3A0xaae69a7a1b403c9!2sNandur+Madhmeshwar+Bird+Sanctuary!5e0!3m2!1sen!2sin!4v1506870572841" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></div>
                        <div class="col-md-12">
                            <p>नांदूर मधमेश्वर 74°2 'ते 74°10' ई आहे आणि अक्षांश 19°59 'ते 20°4' एन. </p> <p> हा निशाकपासून सुमारे 40 कि.मी. पूर्व अंतरावर आहे. महाराष्ट्र राज्यातील नाशिक जिल्ह्यात निफाड तालुका. </p> <p> नाशिक रोड रेल्वे स्टेशनपासून सुमारे 55 किमी अंतरावर आहे. निफाड टाऊन उत्तर दिशेने 12 किलोमीटर अंतरावर नांदूर मधमेश्वरचे पिकअप वार आहे. नाशिकमधील निरुपम या पक्के रस्ते तसेच निफाडच्या माध्यमातून हे क्षेत्र सहजपणे सहज समजले जाऊ शकते. </p> <p> राज्य परिवहन बसेस या रस्त्यांवर नियमितपणे चालत असतात. </p>

                        </div>


                        <div class="col-md-12">

                            <p class="page-contact">
                                <a href="javascript:void(0);"><i class="fa fa-envelope-o" aria-hidden="true"></i> info@domainname.com</a> |
                                <a href="javascript:void(0);"><i class="fa fa-phone" aria-hidden="true"></i> 02424 / 257013</a>
                            </p>
                        </div>
                    </div>
                </div>


                <div id="harishchandragad">
                    <h3 class="page-header-inner">जैवविविधता</h3>
                    <div class="row">
                        <div class="col-md-6"><%= image_tag "bhandardara01.jpg", style: 'width:100%;' %></div>
                        <div class="col-md-6">
                            <p>पश्चिम घाट आणि भारताच्या दख्खनच्या पठारा जैव-भौतिकी झोनच्या इंटरफेसमध्ये स्थित, ओलक्ष्याचे वास्तव्य 100 वर्षांपूर्वी गाळाचे गाळ काढण्यामुळे झाले आहे आणि कायदेशीर संरक्षणामुळे NMWLS एक जैवविविधता समृद्ध क्षेत्र म्हणून परिणत झाले आहे.</p>

                            <p>आतापर्यंत 536 जलीय आणि स्थूलय वनस्पतींची प्रजाती, 8 प्रजातींचे सस्तन प्राणी, 265 प्रजाती पक्षी, 24 प्रजाती गोड्या पाण्यातील माशांच्या, 41 प्रजाती पिकांची प्रजातींवरून नोंदल्या गेल्या आहेत. NMWLS मध्ये वनस्पतीच्या 1 प्रजाती, पक्ष्यांच्या 4 प्रजाती आणि माशांच्या प्रजाती 4 जाती आहेत.  </p>

                        </div>


                        <div class="col-md-12">
                            <p>NMWLS शिवाय ओलंडवर अवलंबून प्रजाती, विशेषत: पक्षी स्थलांतर काळात ऑक्टोबर ते मार्च या कालावधीत वापरतात.</p>
                            <p>NMWLS ला भेट देणार्या 265 पक्ष्यांच्या प्रजातींपैकी 148 प्रजाती प्रवासी (दूरस्थ आणि स्थानिक) आहेत आणि 88 प्रजाती रामसर कन्व्हेंशनशी संबंधित आहेत. ह्यामध्ये 1 प्रजाती वनस्पती आहेत, 1 सस्तन प्रजाती, पक्ष्यांच्या 8 प्रजाती आणि जागतिक पातळीवर धोक्यात असलेल्या गोड्या पाण्यातील 2 माशांच्या प्रजाती. </p>
                            <ul>
                                <li>वनस्पती</li>
                                <li>पक्षी</li>
                                <li>फटाके</li>
                                <li>मासे</li>
                                <li>सस्तन प्राणी</li>

                            </ul>
                            <p class="page-contact">
                                <a href="javascript:void(0);"><i class="fa fa-envelope-o" aria-hidden="true"></i> info@domainname.com</a> |
                                <a href="javascript:void(0);"><i class="fa fa-phone" aria-hidden="true"></i> 02424 / 257013</a>
                            </p>
                        </div>
                    </div>
                </div>


                <div id="vilson">
                    <h3 class="page-header-inner"> इको-पर्यटन</h3>
                    <div class="row">
                        <div class="col-md-6"><%= image_tag "Artificial-Bird-Roosting-Trees.jpg", style: 'width:100%;' %></div>
                        <div class="col-md-6">
                            <h4 class="sub-heading">पक्षी निरीक्षण</h4>
                            <p>NMWLS म्हणजे जीवनाच्या प्रत्येक पैलूंपासून पक्षवातांचे नंदनवन आहे. हे महाराष्ट्र भरतपूर मानले जाते. NMWLS अभयारण्याला येणारा पर्यटक अभयारण्यच्या वेगवेगळ्या ठिकाणी पाहणार्या पक्ष्यांकडे पाठपुरावा करण्यासाठी भरपूर पर्याय आहेत. चापडगाव, मंजरगांव, नांदूर मधमेश्वर बांध, धरणाच्या अगदी खाली, दिंडोरी तास, काठरगाव, कुरुडगाव येथे आरक्षित जंगल पक्षी निरीक्षकांचे हॉट स्पॉट आहेत. मुख्य तुळजाच्या तुकड्या चपडगाव, मंजंजगाव आणि कोठोर येथे आहेत, धरण यजमान वाडर्स आणि उंच डोंगरांच्या निचरा खाली असलेले स्थान, दिंडोरी ता येथे राक्षसी जंगल सुंदर मोरांचे घर आहे तर प्रवासन काळात काठरगांव क्रेनसाठी मोठे आकर्षण आहे. पक्षी निरीक्षकांसाठी वॉच टावर्स, बर्ड लूक आणि बर्ड वॉचिंग गॅलरी असे सुविधा उपलब्ध आहेत.
</p>

                        </div>

                        <div class="clearfix"></div>

                        <div class="col-md-6"><%= image_tag "bhandardara01.jpg", style: 'width:100%;' %></div>
                        <div class="col-md-6">
                            <h4 class="sub-heading">बगला उत्सव</h4>
                            <p>स्थलांतरणाच्या काळात दररोज चपडगाव पर्यटकांच्या आजूबाजूच्या परिसरात शेकडो उबदार गोळा होतात. काही वेळाने ते रात्री मुक्काम करण्यास सुरवात करण्यापूर्वी काही धोका दर्शवण्यासाठी झाडांना अडथळा आणतात. ते देखील cormorants आणि herons सह आहेत. चापडगाव पर्यटक केंद्राजवळील पक्षी लपवा आणि वॉच टॉवरपासून जवळून पाहिले जाणारे हे दररोज सण पाहता येते.</p>

                        </div>
                        <div class="clearfix"></div>


                        <div class="col-md-6"><%= image_tag "bhandardara01.jpg", style: 'width:100%;' %></div>
                        <div class="col-md-6">
                            <h4 class="sub-heading">निसर्ग पायरी</h4>
                            <p>चाप्दगाव पर्यटन केंद्राजवळील नेस्टर ट्रेल सुमारे अडीच किलोमीटरच्या अंतरावर आहे. घड्याळ टॉवर्सने भरलेले हे देखील चांगले पक्षी पाहणे अनुभव देते.  </p>

                        </div>

                        <div class="clearfix"></div>

                        <div class="col-md-6"><%= image_tag "bhandardara01.jpg", style: 'width:100%;' %></div>
                        <div class="col-md-6">
                            <h4 class="sub-heading">मोर पायरी</h4>
                            <p>55 हा. शेकडो सुंदर मोरांसाठी रक्षित वन हे घर आहे. ते संध्याकाळी सर्वात चांगले दिसू शकतात. येथे पर्यटक हिना आणि लांडगे देखील शोधू शकतात. </p>

                        </div>
                        <br />
                        <div class="clearfix"></div>
                        <div class="col-md-6"><%= image_tag "bhandardara01.jpg", style: 'width:100%;' %></div>
                        <div class="col-md-6">
                            <h4 class="sub-heading">नांदूर मधमेश्वर धरण</h4>
                            <p>गोदावरी आणि कादवा नद्यांच्या संगमावर बांधण्यात आलेला बांध हा मानसून आणि हिवाळ्याच्या दरम्यान पर्यटकांसाठी मोठा आकर्षण आहे. पावसाळ्यात भिंत आणि दरवाजेच्या भिंतीतून पाण्याचे पडणे आणि हिमवर्षावातील जलमंच, मामेशेश्वर मंदिर आणि संगमेश्वर महेश्वरी मंदिर यांच्या अवलोकनार्थ अभ्यागतांना अभ्यासाचे अनुभव. </p>

                        </div>
                        <br />
                        <div class="clearfix"></div>

                        <div class="col-md-12">

                            <p class="page-contact">
                                <a href="javascript:void(0);"><i class="fa fa-envelope-o" aria-hidden="true"></i> info@domainname.com</a> |
                                <a href="javascript:void(0);"><i class="fa fa-phone" aria-hidden="true"></i> 02424 / 257013</a>
                            </p>
                        </div>
                    </div>
                </div>

                <div id="randha">
                    <h3 class="page-header-inner"> मंदिर पर्यटन</h3>
                    <div class="row">

                        <div class="col-md-12">
                            <p>याशिवाय, विंग्ड व्हिजिटर्स एनएमडब्ल्यूएलएस हे ऐतिहासिक मंदिरासाठी प्रसिद्ध आहे. विशेषत: गोदावरी आणि कादवा नद्यांच्या तटांवर मंदिर, त्यांच्या पुरातत्व आणि सौंदर्याचा सौंदर्यासाठी वर्षभर तीर्थयात्रे आकर्षित करते. </p>

                        </div>

                        <h4 class="sub-heading col-md-12">माधमेश्वर मंदिर</h4>
                        <div class="col-md-6"><%= image_tag "Nandur-Madhameshwar-Temple.jpg", style: 'width:100%;' %></div>
                        <div class="col-md-6">
                            <p>हे मंदिर 250 वर्षांपूर्वीचे दगड आणि मोरारचे बनलेले आहे आणि नांदूर मधमेश्वर पिकर वेअरच्या अगदी खाली असलेल्या एका लहान, खडकाळ आटलेटवर आहे. सर्वसमंदपड्यात लहान कमानदार प्रवेशद्वार आणि समोर 9 फूट उंच डिपमल आहे. 1738 च्या शिलालेखात एक शिलालेख कोरलेला आहे. नांदूर मधमेश्वर गाव, नांदूर मधमेश्वर पिकअप वार आणि त्याद्वारे नांदूर मधमेश्वर्वर वन्यजीव अभ्यारण्याला त्याचे नाव मिळाले आहे.</p>
                        </div>
                        <div class="clearfix"></div>


                        <h4 class="sub-heading col-md-12">संगमेश्वर मंदिर</h4>
                        <div class="col-md-6 ">Image</div>
                        <div class="col-md-6">
                            <p>काठगांव येथे कडा नदीच्या डाव्या किनार्यावर लहान शिवमंदिर आहे. मोठ्या पिंडी कोरलेली एक दगड आणि नंदी येथे सापडतो. हिवाळ्यातील क्रेनचे दर्शन घेण्यासाठी मंदिराभोवतालचा परिसर हे सर्वोत्तम ठिकाण आहे. नदी गोदावरी नदी आणि कादव नदीचे सुसंगत संगम आपण पाहू शकता.</p>
                        </div>

                        <div class="clearfix"></div>

                        <h4 class="sub-heading col-md-12">बनेश्वर मंदिर</h4>
                        <div class="col-md-6">Image</div>
                        <div class="col-md-6">
                            <p>1716 मध्ये सर मल्हार दादाजी कदम यांनी बनवले, बनेश्वराचे मंदिर कोथूर येथे आहे. हे गोदावरी नदीच्या काठावर आहे. हे मंदिर भगवान शिव यांना समर्पित आहे, हे बनेलश्वर या नावाने ओळखले जाते. तो पिंडीच्या रूपात आहे दोन पिंड्या आहेत, दुसरा म्हणजे पहिला भाग खाली स्थित आहे. महाशिवरात्र दिनानिमित्त दरवर्षी एक "यात्रा" आयोजित केली जाते. हे मंदिर नाशिक-औरंगाबाद महामार्गापासून सुमारे 3 किमी अंतरावर आहे. सर्वात जवळचे रेल्वे स्टेशन निफाड येथे आहे.</p>
                        </div>

                        <div class="clearfix"></div>

                        <h4 class="sub-heading col-md-12">श्रीमग्यादेस मंदिर</h4>
                        <div class="col-md-6">Image</div>
                        <div class="col-md-6">
                            <p>नांदूर मधमेश्वर गावात गोदावरी नदीच्या उजवीकडच्या 500 मीटरपासून हे मंदिर आहे. मंदिर संकुलामध्ये मृग्वीदेश्वर मंदिर आणि शनि महारम मंदिर आहे अशा दोन मंदिरे आहेत. निफाडहून येणारा पर्यटक या रस्त्यावरील मंदिरावरील परिसर भेट देऊ शकतात.</p>
                        </div>



                        <div class="col-md-12">

                            <p class="page-contact">
                                <a href="javascript:void(0);"><i class="fa fa-envelope-o" aria-hidden="true"></i> info@domainname.com</a> |
                                <a href="javascript:void(0);"><i class="fa fa-phone" aria-hidden="true"></i> 02424 / 257013</a>
                            </p>
                        </div>
                    </div>
                </div>

                <div id="ratanwadi">
                    <h3 class="page-header-inner">अभ्यागत माहिती</h3>
                    <div class="row">


                        <div class="col-md-12">
                            <h4 class="sub-heading">स्थान</h4>
                            <p>नांदूर मधमेश्वर मध्य 200 02 '34.05' 'एन' (उत्तर), 740 08 '52.34' ए (पूर्व) आणि 200 00 '08.57' एन (दक्षिण), 740 03 '31.38 "ई (पश्चिम) यांच्यात आहे. </p>
                        </div>
                        <div class="col-md-12">
                            <h4 class="sub-heading">कसे पोहोचाल?</h4>
                            <p>नांदूर मधमेश्वर महाराष्ट्र राज्यातील नाशिक जिल्ह्यातील निफाड तालुक्यात सुमारे 40 किमी पूर्व नाशिकच्या अंतरावर स्थित आहे. नाशिक रोड रेल्वे स्टेशनपासून 55 किमी अंतरावर आहे. निफाड टाउनशिप हे नांदूर मधमेश्वरचे पिक-अप वारचे उत्तर 12 किमी आहे. नाशिकमधील निरुपम या पक्के रस्ते तसेच निफाडच्या माध्यमातून हे क्षेत्र सहजपणे सहज समजले जाऊ शकते. राज्य परिवहन बसेस नियमितपणे या रस्त्यांवर खेळत आहेत. </p>
                        </div>

                        <div class="col-md-12">
                            <h4 class="sub-heading">केव्हा येणे</h4>
                            <p>NMWLS ला भेट देण्याचा सर्वोत्तम वेळ म्हणजे प्रवासन कालावधी म्हणजेच ऑक्टोबर ते मार्च. या वेळी हजारो पंख असलेल्या पर्यटक इथे येतात. एप्रिल आणि सप्टेंबर दरम्यान आपण येथे काही निवासी पक्षी पाहू शकता.  </p>
                        </div>

                        <div class="col-md-12">
                            <h4 class="sub-heading">काय आणणे</h4>
                            <p>येथे पहात असलेल्या आपल्या अनुभवाचे वृक्ष वाढविण्यासाठी द्विनेत्री, पक्षी क्षेत्र मार्गदर्शक आणि आवश्यक कपडे आवश्यक आहेत. </p>
                        </div>

                        <div class="col-md-12">
                            <h4 class="sub-heading">कुठे राहायचे</h4>
                            <p>NMWLS येथे पर्यटकांच्या निवासासाठी, गेस्ट हाऊस, शयनगृह, इको झोपडी आणि इको टेंट्सची सुविधा भाड्याने उपलब्ध आहे. अन्न स्थानिक पातळीवर व्यवस्थित केले जाते. नोंदणीसाठी वन (वन्यजीव) कार्यालय, नाशिक व रेंज वन कार्यालय, नाशिकचे संरक्षक संपर्क साधा.</p>
                        </div>

                        <div class="col-md-12">
                            <h4 class="sub-heading">कोणाशी संपर्क साधावा</h4>
                            <p><address>वन अभयारण्याचे कार्यालय (वन्यजीव),<br />
                                अरन्या संकुल परिसर,<br />
                                आदिवासी विकास भवन समोर,<br />
                                त्र्यंबक नाका, नाशिक. 422002.<br />
                                दूरध्वनी क्रमांक. 0253-2505116	
                            </address> </p>
                        </div>

                        <div class="col-md-12">
                            <h4 class="sub-heading">काय अपेक्षित आहे</h4>
                            <p>हौशी किंवा पिकविणारा निसर्ग प्रियकर असल्याने, आपण NMWLS येथे क्रमांकित आणि प्रजाती दोन्ही क्रमांक पाहणार्या प्रवासी पक्षांची अपेक्षा करू शकता. चापदगांव येथे निसर्गाच्या खुणेने तुम्हाला वास वस्तीचे स्थान आणि पक्षी वाड्या म्हणून त्याचे महत्त्व प्राप्त होते, तर दिंडोरी तासच्या पायवाटेने भव्य मोरांची झलक दाखवली. विविध वॉच टॉवर्स, बर्ड गॅलरी आणि बर्ड ब्लाईंड कडून तुम्ही स्थलांतरित पक्ष्यांच्या कळप आणि एक आर्मेळ पाणी पाहू शकता जे ह्या विमानांच्या विविधतेचे आयोजन करतात. पिकअप वेअर वर चालत असताना, तुम्हाला गोदावरी नदी आणि संग कूळ नदीच्या संगमातून येणारी वासरू दिसतील आणि मधमेश्हारावा आणि संगमेश्वर मंदीराचे सुरेख दृश्यही मिळेल.</p>
                        </div>


                        <div class="col-md-12">
                            <h4 class="sub-heading">जवळचे ठिकाण</h4>
                            <p>NMWLS नाशिक-शिर्डी-औरंगाबाद पर्यटनाच्या सर्किटवर आहे. या सर्किटवर प्रवास करणारे पर्यटक NMWLS च्या जैवविविधता पाहण्यासाठी थोडा वेळ देऊ शकतात. त्र्यंबकेश्वर, तपोवन, शिरडी, एलोरा लेणी, देओगिरी दौलताबाद किल्ला आणि औरंगाबाद अशा पर्यटकांची ठिकाणे NMWLS ने अनुक्रमे 65 किमी, 40 किमी, 70 किमी, 145 किमी, 150 किमी आणि 165 किमी वर आहेत.</p>
                        </div>

                        <div class="col-md-12">
                            <h4 class="sub-heading">करा</h4>
                            <ul style=" list-style-type:decimal">
                                <li>प्रवेशद्वार वेळेचा पाठपुरावा करा म्हणजे सात ते सायंकाळी 6 वाजेपर्यंत</li>
                                <li>वन्यजीवन दृश्यमान संधीची बाब आहे. धीर धरा.</li>
                                <li>एकूण शांतता आणि शिस्त वाढून वन्यजीवांची पाहण्याची शक्यता वाढते.</li>
                                <li>लहान गटांना प्राधान्य दिले जाते लवकर सकाळी आणि उशिरा दुपारी आदर्श आहेत.</li>
                                <li>नेहमी पिण्याचे पाणी ठेवा</li>
                                <li>सर्वसामान्य आजारांकरिता औषधांसह प्रथमोपचार किट घ्या.</li>
                                <li>येथे निसर्ग संगीत आनंद घेण्यासाठी रेडिओ आणि टेप रेकॉर्डर घरी सर्वोत्तम बाकी आहेत.</li>
                                <li>पक्षी / प्राणी आणि त्यांचे सवयी यांचा आदर करा.</li>
                                <li>पक्षी / प्राणी आणि त्यांचे सवयी यांचा आदर करा.</li>
                                <li>नोटपॅड, रस्ता नकाशे, बस, रेल्वे आणि विमानाची वेळापत्रक</li>
                                <li>नेहमी कर्मचारी व आपल्या बरोबर असलेल्या प्रकृतिवादी सूचनांचे पालन करा.
</li>
                            </ul>

                        </div>
                        <div class="col-md-12">
                            <h4 class="sub-heading">हे टाळा</h4>
                            <ul style=" list-style-type:decimal">
                                <li>दारू घेणारा किंवा दारूच्या प्रभावाखाली अभयारण्य भेट देणे प्रतिबंधित आहे</li>
                                <li>विशेषतः ऊस क्षेत्रामध्ये जवळपास एकट्या प्रवाशांना प्रतिबंध आहे.</li>
                                <li>पाण्यात प्रवेश करणे प्रतिबंधित आहे. </li>
                                <li>रंगीत कपडे किंवा परफ्यूम वापरू नका. खक्िस, तपकिरी आणि हिरव्या भाज्यांसारख्या जंगलांसाठी सर्वोत्तम आहेत</li>
                                <li>पक्षी / प्राणी वर ओरडा, व्यत्यय आणू नका  </li>
                                <li>छायाचित्रांसाठी पक्ष्यांना / प्राण्यांना पाठलाग करु नका.</li>
                                <li>कृपया अभयारण्यामध्ये पाळीव नाही </li>
                                <li>रोपे, फुले आणि फळे घेऊ नका.हे प्राण्यांसाठी अन्न निर्मिती करतात. </li>
                                <li>धुम्रपान टाळा आणि आग टाळण्यासाठी कोणत्याही ज्वलनशील सामग्री वापरू नका.</li>
                                <li>कृपया आसपास कचरा करू नका. </li>
                                <li>प्लास्टिक आत परवानगी नाही</li>

                            </ul>


                        </div>

                        <div class="col-md-12">

                            <p><em><strong>लक्षात ठेवा</strong>- ठसे सोडून द्या पण काहीही सोडू नका, काहीही घेऊ नका पण पक्षी पासून आठवणी</em></p>
                            <p><em><strong>नंदनवन</strong>- नांदूर मधमेश्वर वन्यजीव अभयारण्य.</em></p>
                        </div>




                        <div class="col-md-12">

                            <p class="page-contact">
                                <a href="javascript:void(0);"><i class="fa fa-envelope-o" aria-hidden="true"></i> info@domainname.com</a> |
                                <a href="javascript:void(0);"><i class="fa fa-phone" aria-hidden="true"></i> 02424 / 257013</a>
                            </p>
                        </div>
                    </div>
                </div>

                <div id="ghatghar">
                    <h3 class="page-header-inner"> यात सामील व्हा</h3>
                    <div class="row">
                        <div class="col-md-6"<%= image_tag "bhandardara01.jpg", style: 'width:100%;' %></div>
                        <div class="col-md-6">
                            <h4 class="sub-heading">पक्षी अंदाज</h4>
                            <p>पक्षी अंदाज हे NMWLS येथे मासिक क्रियाकलाप आहेत. या क्रियाकलापासाठी प्रत्येक टप्प्यातुन पक्षी निरीक्षक आमंत्रित केले जातात. आपण मासिक पक्षी अंदाज दरम्यान सहभागी होऊ शकतात. तारखांसाठी रेंज वन अधिकारी, NMWLS शी संपर्क साधा. </p>
                            <p>सहभागींच्या आधारावर, संघ तयार होतात आणि त्यांना पक्षी अंदाजांनुसार विशिष्ट क्षेत्र दिले जाते. पक्ष्यांच्या प्रजातीनुसार आणि गटानुसार अंदाज लावला जातो. याशिवाय, NMWLS च्या आपल्या भेटीच्या दिवशी आपण NMWLS कर्मचार्यांना कर्तव्यात पहाणार्या पक्ष्यांची यादी सादर करू शकता.</p>

                        </div>


                        <div class="col-md-12">
                            <h4 class="sub-heading">पक्षी उत्सव</h4>
                            <p>NMWLS व्यवस्थापनाने या वर्षीपासून बर्ड उत्सव वार्षिक कार्यक्रमाची योजना आखत आहे. या तारखांना लवकरच अद्ययावत केले जाईल.</p>
                            <h4 class="sub-heading">छायाचित्रण प्रदर्शन</h4>
                            <p>NMWLS दरवर्षी जागतिक आर्द्र प्रदेश दिन आणि अभयारण्य फाऊंडेशन दिन दरम्यान खंगागाव थडी येथील निसर्ग व्याख्या केंद्र येथे छायाचित्रण प्रदर्शन आयोजित करते. आपण आपले कार्य प्रदर्शित करू इच्छित असल्यास आपण श्रेणी वन अधिकारी, NMWLS शी संपर्क साधू शकता. आपण गुणवत्ता पोट्रेट्स, लँडस्केप, प्राण्यांशी व्यवहार, त्यांच्या पर्यावरण मध्ये प्राणी, प्लांट लाइफ फोटो रंग आणि काळा आणि पांढऱ्याला <a href="mailto:acfnmsnashik@gmail.com"> acfnmsnashik@gmail.com </a> पाठवू शकता. आवश्यक तपशीलासह प्रदर्शनासाठी मेल. </p>
                            <h4 class="sub-heading">पर्यावरणाची जागरुकता</h4>
                            <p>प्रवासी पक्षी, प्राणी, पाणथळ जागा आणि पर्यावरणातील सेवेसाठी त्याचे महत्त्व असलेल्या लोकांसाठी जागरुकता निर्माण करण्यासाठी NMWLS व्यवस्थापन विविध कार्ये जसे की कार्यशाळा, अतिथी व्याख्यान, निसर्गरम, शाळेतील शिबीरे इत्यादि विविध दिवसांचे आयोजन करतात जसे वन्यजीव सप्ताह, जागतिक पाणथळ दिवस आणि अभयारण्य फाऊंडेशन दिवस इ. आपण या दिवसांचा भाग NMWLS येथे असू शकता.</p>
                            <h4 class="sub-heading">गुन्हेगारीचा अहवाल द्या</h4>
                            <p>NMWLS येथे वन्यजीव गुन्हा हा महत्त्वाचा मुद्दा नाही, परंतु त्यावर दुर्लक्ष केले जाऊ शकत नाही. योग्य ती काळजी घेतल्यानंतरही काही गुन्हेगारीचे दुर्लक्ष होत नाही. कमी मनुष्यबळामुळे, एनएमडब्ल्यूएलएसला अशा गुन्ह्यांचा शोध लावण्याची समस्या आहे. हे आपल्या आधी घडत असेल तर आपण गुन्हेगारीची तक्रार करु शकता किंवा NMWLS च्या आत अशा घटनांविषयी आपण रेंज वन ऑफीसर, NMWLS ला जागरुक आहात. अन्यथा आपण गुन्हा नोंदविण्यासाठी <strong> 1926 </ strong> देखील डायल करु शकता. </p>
                            <p class="page-contact">
                                <a href="javascript:void(0);"><i class="fa fa-envelope-o" aria-hidden="true"></i> info@domainname.com</a> |
                                <a href="javascript:void(0);"><i class="fa fa-phone" aria-hidden="true"></i> 02424 / 257013</a>
                            </p>
                        </div>
                    </div>
                </div>        
            </div>
        </div>
    </div>
</section>

<script>
    wow = new WOW(
    {
    animateClass: 'animated',
    offset:       100,
    callback:     function(box) {
    console.log("WOW: animating <" + box.tagName.toLowerCase() + ">")
    }
    }
    );
    wow.init();
</script>
<script language="javascript">
    $(document).ready(function() {
    $("#shende, #kalsubai, #harishchandragad, #vilson, #randha, #ratanwadi, #ghatghar, #ratangad, #aajobagad, #sandan, #alanggad, #kulang").hide();
    $("#m1_click").click(function(){
    $("#m1_click").addClass("active");
    $("#m2_click, #m3_click, #m4_click, #m5_click, #m6_click, #m7_click, #m8_click, #m9_click, #m10_click, #m11_click, #m12_click, #m13_click").removeClass("active");		
    $("#bhandardara").fadeIn();
    $("#shende, #kalsubai, #harishchandragad, #vilson, #randha, #ratanwadi, #ghatghar, #ratangad, #aajobagad, #sandan, #alanggad, #kulang").fadeOut();

    });

    $("#m2_click").click(function(){
    $("#m2_click").addClass("active");
    $("#m1_click, #m3_click, #m4_click, #m5_click, #m6_click, #m7_click, #m8_click, #m9_click, #m10_click, #m11_click, #m12_click, #m13_click").removeClass("active");
    $("#shende").fadeIn();
    $("#bhandardara, #kalsubai, #harishchandragad, #vilson, #randha, #ratanwadi, #ghatghar, #ratangad, #aajobagad, #sandan, #alanggad, #kulang").fadeOut();	
    });

    $("#m3_click").click(function(){
    $("#m3_click").addClass("active");
    $("#m2_click, #m1_click, #m4_click, #m5_click, #m6_click, #m7_click, #m8_click, #m9_click, #m10_click, #m11_click, #m12_click, #m13_click").removeClass("active");
    $("#kalsubai").fadeIn();	
    $("#bhandardara, #shende, #harishchandragad, #vilson, #randha, #ratanwadi, #ghatghar, #ratangad, #aajobagad, #sandan, #alanggad, #kulang").fadeOut();	

    });

    $("#m4_click").click(function(){
    $("#m4_click").addClass("active");
    $("#m2_click, #m1_click, #m3_click, #m5_click, #m6_click, #m7_click, #m8_click, #m9_click, #m10_click, #m11_click, #m12_click, #m13_click").removeClass("active");
    $("#harishchandragad").fadeIn();
    $("#bhandardara, #shende, #kalsubai, #vilson, #randha, #ratanwadi, #ghatghar, #ratangad, #aajobagad, #sandan, #alanggad, #kulang").fadeOut();				
    });

    $("#m5_click").click(function(){
    $("#m5_click").addClass("active");
    $("#m2_click, #m1_click, #m4_click, #m3_click, #m6_click, #m7_click, #m8_click, #m9_click, #m10_click, #m11_click, #m12_click, #m13_click").removeClass("active");
    $("#vilson").fadeIn();	
    $("#bhandardara, #shende, #kalsubai, #harishchandragad, #randha, #ratanwadi, #ghatghar, #ratangad, #aajobagad, #sandan, #alanggad, #kulang").fadeOut();				
    });

    $("#m6_click").click(function(){
    $("#m6_click").addClass("active");
    $("#m2_click, #m1_click, #m4_click, #m3_click, #m5_click, #m7_click, #m8_click, #m9_click, #m10_click, #m11_click, #m12_click, #m13_click").removeClass("active");
    $("#randha").fadeIn();
    $("#bhandardara, #shende, #kalsubai, #harishchandragad, #vilson, #ratanwadi, #ghatghar, #ratangad, #aajobagad, #sandan, #alanggad, #kulang").fadeOut();				
    });

    $("#m7_click").click(function(){
    $("#m7_click").addClass("active");
    $("#m2_click, #m1_click, #m4_click, #m3_click, #m6_click, #m5_click, #m8_click, #m9_click, #m10_click, #m11_click, #m12_click, #m13_click").removeClass("active");	
    $("#ratanwadi").fadeIn();	
    $("#bhandardara, #shende, #kalsubai, #harishchandragad, #vilson, #randha, #ghatghar, #ratangad, #aajobagad, #sandan, #alanggad, #kulang").fadeOut();			
    });

    $("#m8_click").click(function(){
    $("#m8_click").addClass("active");
    $("#m2_click, #m1_click, #m4_click, #m3_click, #m6_click, #m7_click, #m5_click, #m9_click, #m10_click, #m11_click, #m12_click, #m13_click").removeClass("active");
    $("#ghatghar").fadeIn();	
    $("#bhandardara, #shende, #kalsubai, #harishchandragad, #vilson, #randha, #ratanwadi, #ratangad, #aajobagad, #sandan, #alanggad, #kulang").fadeOut();				
    });

    $("#m9_click").click(function(){
    $("#m9_click").addClass("active");
    $("#m2_click, #m1_click, #m4_click, #m3_click, #m6_click, #m7_click, #m5_click, #m8_click, #m10_click, #m11_click, #m12_click, #m13_click").removeClass("active");
    $("#ratangad").fadeIn();
    $("#bhandardara, #shende, #kalsubai, #harishchandragad, #vilson, #randha, #ratanwadi, #ghatghar, #aajobagad, #sandan, #alanggad, #kulang").fadeOut();				
    });

    $("#m10_click").click(function(){
    $("#m10_click").addClass("active");
    $("#m2_click, #m1_click, #m4_click, #m3_click, #m6_click, #m7_click, #m5_click, #m9_click, #m8_click, #m11_click, #m12_click, #m13_click").removeClass("active");
    $("#aajobagad").fadeIn();
    $("#bhandardara, #shende, #kalsubai, #harishchandragad, #vilson, #randha, #ratanwadi, #ghatghar, #ratangad, #sandan, #alanggad, #kulang").fadeOut();					
    });

    $("#m11_click").click(function(){
    $("#m11_click").addClass("active");
    $("#m2_click, #m1_click, #m4_click, #m3_click, #m6_click, #m7_click, #m5_click, #m9_click, #m10_click, #m8_click, #m12_click, #m13_click").removeClass("active");

    $("#sandan").fadeIn();	
    $("#bhandardara, #shende, #kalsubai, #harishchandragad, #vilson, #randha, #ratanwadi, #ghatghar, #ratangad, #aajobagad, #alanggad, #kulang").fadeOut();				
    });

    $("#m12_click").click(function(){
    $("#m12_click").addClass("active");
    $("#m2_click, #m1_click, #m4_click, #m3_click, #m6_click, #m7_click, #m5_click, #m9_click, #m10_click, #m11_click, #m8_click, #m13_click").removeClass("active");
    $("#alanggad").fadeIn();	
    $("#bhandardara, #shende, #kalsubai, #harishchandragad, #vilson, #randha, #ratanwadi, #ghatghar, #ratangad, #aajobagad, #sandan, #kulang").fadeOut();				
    });

    $("#m13_click").click(function(){
    $("#m13_click").addClass("active");
    $("#m2_click, #m1_click, #m4_click, #m3_click, #m6_click, #m7_click, #m5_click, #m9_click, #m10_click, #m11_click, #m12_click, #m8_click").removeClass("active");
    $("#kulang").fadeIn();
    $("#bhandardara, #shende, #kalsubai, #harishchandragad, #vilson, #randha, #ratanwadi, #ghatghar, #ratangad, #aajobagad, #sandan, #alanggad").fadeOut();				
    });

    });

</script>