
<section>
	<div class="container-fluid eco-tourism">
    	<div class="container">
       	  <h1 class="page-title">वन्यजीवन अभयारण्य</h1>
        </div>
    </div>
</section>
<!-- Title Image end-->   

 <!-- Range Forest start-->   
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
     
      <div class="row">
                <div class="col-md-4 wow bounceInLeft">
                    <h3>नांदूर मधमेश्वर अभयारण्य</h3>
                    <div class="box">
                        <div class="img-holder"><%= image_tag("img01.jpg", width: "353", height: "166")%>
                            <div class="image-text">नांदूर मधमेश्वर</div>
                        </div>
                        <ul>
                            <li><a href="#">नांदूर मधमेश्वर धरण</a></li>
                            <li><a href="#">स्थलांतरित पक्षी</a></li>
                            <li><a href="#">मृग्वीदेहेश्वर मंदिर</a></li>
                            <li><a href="#">सौंदर्यपूर्ण सूर्यास्त आणि सूर्योदय</a></li>
                        </ul>
                        <p class="text-center"><%= link_to "तपशील पहा »", mr_nandur_madhameshwar_path, class: "btn btn-green" %></p>
                      </div>
                  </div>
                  <div class="col-md-4 wow flipInX center">
                      <h3>कळसूबाई हरिश्चंद्रगड अभयारण्य</h3>
                      <div class="box">
                          <div class="img-holder"><%= image_tag("img02.jpg", width: "353", height: "166")%>
                              <div class="image-text">राजूर</div>
                          </div>
                          <ul>
                              <li><a href="#">नांदूर मधमेश्वर धरण</a></li>
                              <li><a href="#">स्थलांतरित पक्षी</a></li>
                              <li><a href="#">मृग्वीदेहेश्वर मंदिर</a></li>
                              <li><a href="#">सौंदर्यपूर्ण सूर्यास्त आणि सूर्योदय</a></li>
                          </ul>
                          <p class="text-center"><a class="btn btn-green" href="#" role="button">तपशील पहा »</a></p>
                      </div>
                  </div>
                  <div class="col-md-4 wow bounceInRight">
                      <h3>भंडारदरा अभयारण्य</h3>
                      <div class="box">
                          <div class="img-holder"><%= image_tag("img03.jpg", width: "353", height: "166")%>
                              <div class="image-text">भंडारदरा</div>
                          </div>
                          <ul>
                              <li><a href="#">नांदूर मधमेश्वर धरण</a></li>
                              <li><a href="#">स्थलांतरित पक्षी</a></li>
                              <li><a href="#">मृग्वीदेहेश्वर मंदिर</a></li>
                              <li><a href="#">सौंदर्यपूर्ण सूर्यास्त आणि सूर्योदय</a></li>
                          </ul>
                          <p class="text-center"><a class="btn btn-green" href="#" role="button">तपशील पहा »</a></p>
                      </div>
                  </div>
                  <div class="col-md-4 wow bounceInLeft">
                      <h3>यावल अभयारण्य</h3>
                      <div class="box">
                          <div class="img-holder"><%= image_tag("img04.jpg", width: "353", height: "166")%>
                              <div class="image-text">जामन्या</div>
                          </div>
                          <ul>
                              <li><a href="#">नांदूर मधमेश्वर धरण</a></li>
                              <li><a href="#">स्थलांतरित पक्षी</a></li>
                              <li><a href="#">मृग्वीदेहेश्वर मंदिर</a></li>
                              <li><a href="#">सौंदर्यपूर्ण सूर्यास्त आणि सूर्योदय</a></li>
                          </ul>
                          <p class="text-center"><%= link_to "तपशील पहा »", mr_yawal_path, class: "btn btn-green" %></p>
                        </div>
                    </div>
                    <div class="col-md-4 wow flipInX center">
                        <h3>पाल अभयारण्य</h3>
                        <div class="box">
                            <div class="img-holder"><%= image_tag("img05.jpg", width: "353", height: "166")%>
                                <div class="image-text">पाल</div>
                            </div>
                            <ul>
                                <li><a href="#">नांदूर मधमेश्वर धरण</a></li>
                                <li><a href="#">स्थलांतरित पक्षी</a></li>
                                <li><a href="#">मृग्वीदेहेश्वर मंदिर</a></li>
                                <li><a href="#">सौंदर्यपूर्ण सूर्यास्त आणि सूर्योदय</a></li>
                            </ul>
                            <p class="text-center"><a class="btn btn-green" href="#" role="button">तपशील पहा »</a></p>
                        </div>
                    </div>
                    <div class="col-md-4 wow bounceInRight">
                        <h3>अनेर बांध अभयारण्य</h3>
                        <div class="box">
                            <div class="img-holder"><%= image_tag("img06.jpg", width: "353", height: "166")%>
                                <div class="image-text">अनेर बांध शिरपूर</div>
                            </div>
                            <ul>
                                <li><a href="#">नांदूर मधमेश्वर धरण</a></li>
                                <li><a href="#">स्थलांतरित पक्षी</a></li>
                                <li><a href="#">मृग्वीदेहेश्वर मंदिर</a></li>
                                <li><a href="#">सौंदर्यपूर्ण सूर्यास्त आणि सूर्योदय</a></li>
                            </ul>
                            <p class="text-center"><%= link_to "तपशील पहा »", mr_anerdam_path, class: "btn btn-green" %></p>
                          </div>
                      </div>
      </div>
</div>


      
    </div>
<br /><br /><br />
 <!-- Range Forest End-->  
 
 <script>
    wow = new WOW(
      {
        animateClass: 'animated',
        offset:       100,
        callback:     function(box) {
          console.log("WOW: animating <" + box.tagName.toLowerCase() + ">")
        }
      }
    );
    wow.init();
	
    
  </script>
  </body>
</html>