 <!-- Footer Start-->
 <section class="footer">
 	<div class="container">
    	<div class="row">
        	<div class="col-md-4">
            	<div class="col-md-3"><%= image_tag("footer-logo.png", width: "67", height: "99")%></div>
                <div class="col-md-9"><h4>वन संरक्षक (वन्यजीव) नाशिक</h4></div>
                <div class="col-md-12"><br />अरन्या संकुल "त्रंबक नाका, जुने आग्रा रोड, नाशिक ४२२२ ००२</div>
                <div class="clearfix"></div>
                <ul class="footer-contact">
                	<li><a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i> info@domainname.com</a></li>
                    <li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i> ०२० १२३४५६७८९</a></li>
                </ul>
            </div>
            <div class="col-md-4">
            	<ul class="footer-menu">
                    <li><%= link_to "माहिती-अधिकार-अधिनियम", "http://117.239.200.166/forestportal/index.php?option=rtsapp&AntiFixation=2a2554618b2c791c182ab58f330b7d5a.",  target: :_blank %></li>
                    <li><%= link_to "अटी व शर्ती", mr_terms_conditions_path %></li>
                    <li><%= link_to "गोपनीयता धोरण", mr_privacy_policy_path %></li>
                    <li><%= link_to "हक्क धोरण", mr_copyright_policy_path %></li>
                    <li><%= link_to "हायपरलिंकिंग धोरण", mr_hyperlinking_policy_path %></li>
                    <li><%= link_to "प्रवेशयोग्यता विधान", mr_accessibility_statement_path %></li>
                    <li><%= link_to "अस्वीकरण", mr_disclaimer_path %></li>
                    <li><a href="#">मदत</a></li>
                </ul>
            </div>
            <div class="col-md-4">
            	<h4>विभागीय बातम्या</h4>
            	<ul class="footer-news">
                	<li><a href="#">ब्लोअर ई निविदा सिप्णा विभागणी परतवाडा ०१/०९/२०१७</a></li>
                    <li><a href="#">कोल्हापूर ३०/०६/२०१७ च्या नियुक्ती करारासाठी शुद्धीपत्र </a></li>
                    <li><a href="#">संविदा बेस सेवानिवृत्त अधिकारी भर्ती राष्ट्रीय उद्यान बोरिवली २८/०८/२०१७</a></li>
                    <li><a href="#">बांधकाम दुरुस्तीसाठी ई निविदा, नागपूर १३/०७/२०१७</a></li>
                    <li class="text-right"><a href="#" class="view-all">सर्व पहा</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="sub-footer">
    	<div class="container">
        	<div class="row">
            	<div class="col-md-6 copyright">द होरायझन सर्विसिज़ द्वारा समर्थित, नाशिक</div>
                <div class="col-md-6 text-right">
                	<ul class="footer-social-link">
                    	<li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
 </section>
  <!-- Footer End-->
